<div class="row">
    <div class="slider game">
        <div class="container">
            <div class="pull-left col-lg-offset-1 col-lg-3 leftdisplay_section">
                <div class="mt-100 title pb-50 ">
                    <h3>Hơn 230 trò chơi hấp dẫn</h3>
                </div>
                <div class="p-content">
                    <p class="mt-100">Trò chơi được cập nhật liên tục mỗi ngày, thử ngay hôm nay.</p>
                </div>
            </div>
            <div class="rightdisplay_section hidden-xs hidden-sm">
                <h3>UPCOMING TOURNAMENT</h3>
                <div class="img-frame"><img src="~/Content/images/tournament.jpg" /></div>
                <div class="playnow01"><a href="#"><img src="~/Content/images/tournament-joinnow-btn.png" alt="Join Now"></a></div>
                <div class="start_time">starts in 10 min</div>
            </div>
        </div>
    </div>
</div>
