<ul id="main-menuv2" class="clearfix p0 list-unstyled list-inline valign-wrapper">
    <li>
        <a href="/Home/Index"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
        <a href="/Home/Sportsbook">Thể thao</a>
        <ul class="asas">
            <li><a href="#">Football</a></li>
            <li><a href="#">Basketball</a></li>
            <li><a href="#">Number game</a></li>
            <li><a href="#">Virtual sports</a></li>
            <li><a href="#">racing games</a></li>
            <li><a href="#">statistics</a></li>
        </ul>
    </li>
    <li>
        <a href="/Home/LiveCasino">Casino</a>
        <ul class="asas">
            <li><a href="#">royal palace</a></li>
            <li><a href="#">m palace</a></li>
            <li><a href="#">monte carlo</a></li>
            <li><a href="#">crown palace</a></li>
        </ul>
    </li>
    <li>
        <a href="/Home/Games">Trò chơi</a>
        <ul class="asas">
            <li><a href="#">top games</a></li>
            <li><a href="#">3D slots</a></li>
            <li><a href="#">bonus slots</a></li>
            <li><a href="#">classic slots</a></li>
            <li><a href="#">table games</a></li>
            <li><a href="#">other games</a></li>
            <li><a href="#">all games</a></li>
        </ul>
    </li>
    <li>
        <a href="/Home/Promotion">Khuyến mãi</a>
        <ul class="asas">
            <li><a href="#">all</a></li>
            <li><a href="#">sportsbook</a></li>
            <li><a href="#">live casino</a></li>
            <li><a href="#">games</a></li>
            <li><a href="#">daily promotion</a></li>
            <li><a href="#">keno</a></li>
            <li><a href="#">others</a></li>
        </ul>
    </li>
    <li>
        <a href="/InfoCenter/Index">Hướng dẫn</a>
        <ul class="asas">
            <li><a href="#">lorem ipsum</a></li>
            <li><a href="#">lorem ipsum</a></li>
            <li><a href="#">lorem ipsum</a></li>
            <li><a href="#">lorem ipsum</a></li>
            <li><a href="#">lorem ipsum</a></li>
        </ul>
    </li>
</ul>
