<div class="promotion-bar bar-game">
    <div class="container">
        <div class="row">
            <div class="left-bar bar-game col-lg-3  hidden-xs">
                <img src="~/Content/images/cashe-credit-free-banner.png" />
            </div>
            <div class="right-bar bar-game col-lg-9">
                <div class="row">
                   
                    <div class="col-lg-offset-1 col-lg-11 p-box ">
                        <div class="row">
                            <div class="redtext_section ml">
                                <h3>Start playing - win 100% welcome bonus</h3>
                                <ul>
                                    <li>Mauris volutpat auctor sodales. </li>
                                    <li>Aenean ullamcorper vestibulum tellus</li>
                                    <li>Nec volutpat tellus vulputate vitae. </li>
                                    <li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

