<div class="promotion-bar">
    <div class="container">
        <div class="row">
            <div class="left-bar col-lg-3  hidden-xs">
                <h3>Typing something here</h3>
                <img src="~/Content/images/promotion_banner.png" />
            </div>
            <div class="right-bar col-lg-9">
                <div class="row">
                    <div class="col-lg-1 p-box1">
                        <h3>GETTING<br />START</h3>
                    </div>
                    <div class="col-lg-11 p-box ">
                        <div class="row">
                            <div class="col-lg-4 p-box-sub sub1">
                                <img src="~/Content/images/sportsbook_1.png" class="img-responsive"/>
                                @*<div class="circle-type1 center-block">
                                    <h1>1</h1>
                                </div>
                                <p class="text-center mt+">
                                    Download the<br />
                                    <strong>POWER JACKPOT SOFTWARE</strong>
                                </p>*@
                                <p class="text-center mt">
                                    <strong>Something here</strong>
                                </p>
                            </div>
                            <div class="col-lg-4 p-box-sub sub2">
                                <img src="~/Content/images/sportsbook_2.png" class="img-responsive" />
                                <p class="text-center mt">
                                    <strong>Something here</strong>
                                </p>
                                @*<div class="circle-type1 center-block"><h1>2</h1></div>
                                <p class="text-center mt+">
                                    <strong>Create an acount</strong><br />
                                    and Register to page
                                </p>*@
                            </div>
                            <div class="col-lg-4 p-box-sub sub3">
                                <img src="~/Content/images/sportsbook_1.png" class="img-responsive" />
                                <p class="text-center mt">
                                    <strong>Something here</strong>
                                </p>
                                @*<div class="circle-type1 center-block"><h1>3</h1></div>
                                <p class="text-center mt+">
                                    Click the button<br />
                                    <strong>"START FREE PLAY"</strong>
                                </p>*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
