@{
    ViewBag.Title = "Game Detail";
}


    <div class="container mb">
        <div class="row detail-intro">
            <div class="col-md-2 hidden-xs hidden-sm">
                <img src="~/Content/images/dealer-GD.png" />
            </div>
            <div class="col-md-10 mb">
                <h3 class="text-uppercase card p+"><a href="/Home/LiveCasino" class="text-info"><span class="glyphicon glyphicon-menu-left"></span> game category</a></h3>
                <div class="card p+ row no-gutter m0">
                    <div class="col-md-2"><img class="img-responsive" src="~/Content/images/game-thumbnail.jpg" /></div>
                    <div class="col-md-10">
                        <h4 class="text-uppercase">game name <button class="btn btn-primary text-uppercase ml">Play now</button></h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row detail-preview pv card">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#preview-screenshots" aria-expanded="false" aria-controls="preview-screenshots">
                    Screenshots <span class="glyphicon glyphicon-menu-up pull-right"></span>
                </button>
                <div class="collapse" id="preview-screenshots">
                    <div class="row mt">
                        <div class="col-md-4 text-center">
                            <img src="~/Content/images/3DBaccarat1.png" alt="" />
                        </div>
                        <div class="col-md-4 text-center">
                            <img src="~/Content/images/3DBaccarat1.png" alt="" />
                        </div>
                        <div class="col-md-4 text-center">
                            <img src="~/Content/images/3DBaccarat1.png" alt="" />
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#preview-how-to-play" aria-expanded="false" aria-controls="preview-how-to-play">
                    How to play <span class="glyphicon glyphicon-menu-up pull-right"></span>
                </button>
                <div class="collapse" id="preview-how-to-play">
                    <h4 class="head-title">Luật Chơi</h4>
                    <p>
                        Baccarat được chơi với 8 bộ bài được xáo trộn bởi người chia bài và đặt trong một hộp bài. Có hai bên chơi bài : Nhà Cái và Người Chơi . Các loại cược đặt là : 'Người Chơi', 'Nhà Cái', 'Hòa', 'Đôi Bên Người Chơi' , 'Đôi Bên Nhà Cái', ' Lớn' và 'Nhỏ'
                    </p>
                    <p>
                        Quân bài được chia cho 'Người Chơi' trước, sau đó đến 'Nhà Cái', rồi đến 'Người Chơi' và 'Nhà Cái' theo thứ tự. Người Chơi và Nhà Cái mỗi bên được chia 2 quân bài đầu tiên. Cộng điểm hai quân bài trên tay để tính tổng điểm . Từ thời điểm này, việc rút thêm các quân bài sẽ quyết định thắng thua. Dựa vào tổng điểm, Người Chơi và Nhà Cái có thể rút thêm 1 quân bài nữa hoặc dừng. Bên nào có tổng điểm cao nhất sẽ thắng
                    </p>

                    <h4 class="head-title">Giá Trị Quân Bài</h4>
                    <p>
                        Trong Baccarat, quân bài 2-9 có giá trị chính nó, các quân bài 10 và quân (J,Q,K) có giá trị 0 , quân Ách có giá trị 1. Các bên chơi tính tổng điểm bằng cách cộng các quân bài. Khi tổng điểm các quân bài bằng hoặc quá 10, giá trị 10 được bỏ qua. Ví dụ, bên chơi có quân bài 2 và 3, tổng điểm là 5 (2+3=5). Bên chơi có quân bài 6 và 7, tổng điểm là 3 (6+7=13=3). Chữ số đầu tiên bỏ qua do giá trị lớn hơn 10. Bên chơi có quân bài 4 và 6 , tổng điểm là 0 , hay gọi là Baccarat (4+6=0). Tên gọi 'Baccarat' không thường dùng trong trò chơi khi có giá trị là 0 (hay 'Baccarat'). Bên có giá trị gần 9 nhất sẽ thắng, gọi là 'Thắng Tự Nhiên'
                    </p>

                    <h4 class="head-title">Các Loại Cược và Thanh Toán</h4>
                    <p>
                        Có 8 loại cược trong Baccarat : 'Người Chơi', 'Nhà Cái', 'Hòa', 'Đôi Bên Người Chơi', 'Đôi Bên Nhà Cái', 'Lớn' , 'Nhỏ', và 'Baccarat Tổng Hợp'. Bảng thông kê dưới đây cho biết tiêu chuẩn thắng, Luật Chơi và tỉ lệ Thanh Toán
                    </p>

                    <h4 class="head-title">CÁCH SỬ DỤNG MANUAL CHIP</h4>
                    <p>
                        Manual Chip là con chip màu tím ở vị trí cuối cùng trong khu vực chip để bạn lựa chọn..<br />
                        Giá trị của Manual Chip được hiển thị khung phía dưới cùng bên trái ở khu vực chip.<br />
                        Sử dụng Manual Chip, bạn có thể cược với bất kỳ giá trị nào bạn muốn trong giới hạn đặt cược.
                    </p>

                    <div class="text-center">Manual Chip trong khu vực Chip. </div>
                    <p class="text-center">
                        <img src="~/Content/images/pic1.jpg" alt="" />
                    </p>

                    <div class="text-center">Sử dụng Manual Chip để cược với bất kỳ giá trị nào trong giới hạn đặt cược. </div>
                    <p class="text-center">
                        <img src="~/Content/images/pic2.jpg" alt="" />
                    </p>

                    <div class="text-center">Sử dụng Manual Chip có thể đặt toàn bộ số tiền trong tài khoản cho một lần đặt cược.</div>
                    <p class="text-center">
                        <img src="~/Content/images/pic3.jpg" alt="" />
                    </p>
                </div>
            </div>
        </div>
    </div>
