@{
    ViewBag.Title = "Home";
}
    <div class="row slider">
    </div>
    <div class="row body-content">

    <div class="row2 sec-1">
        <h2>Top rated Online casino with over <span>98,000</span> active members.</h2>
    </div>
    <div class="row2 ads">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 center-block">
                    <div class="box box1 display-block text-center center-block">
                        <h3>LIVE CASINO</h3>
                        <p>
                            Real dealers, actions and wins!<br>
                            1.000 of games to choos from.
                        </p>
                        <div class="box-img">
                            <img src="~/Content/images/casino_box1.jpg" alt="ad" />
                        </div>
                        <a href="#">
                            <img src="~/Content/images/playnow_redbtn.png" class="btn_action" />
                        </a>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box2 display-block text-center">
                        <h3>LIVE CASINO</h3>
                        <p>
                            Real dealers, actions and wins!<br>
                            1.000 of games to choos from.
                        </p>
                        <div class="box-img">
                            <img src="~/Content/images/slotsbox2.jpg" alt="ad" />
                        </div>
                        <a href="#">
                            <img src="~/Content/images/choosegame_blkbtn.png" class="btn_action" />
                        </a>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box3 display-block text-center">
                        <h3>LIVE CASINO</h3>
                        <p>
                            Real dealers, actions and wins!<br>
                            1.000 of games to choos from.
                        </p>
                        <div class="box-img">
                            <img src="~/Content/images/roulettebox3.jpg" alt="ad" />
                        </div>
                        <a href="#">
                            <img src="~/Content/images/takeaspin_yellowbtn.png" class="btn_action" />
                        </a>
                    </div>

                </div>
                <div class="col-md-3  col-sm-6 col-xs-12">
                    <div class="box box4 display-block text-center">
                        <h3>LIVE CASINO</h3>
                        <p>
                            Real dealers, actions and wins!<br>
                            1.000 of games to choos from.
                        </p>
                        <div class="box-img">
                            <img src="~/Content/images/pokerbox4.jpg" alt="ad" />
                        </div>
                        <a href="#">
                            <img src="~/Content/images/jointable_yellowbtn.png" class="btn_action" />
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="p hidden-xs text-success text-center"></div>
    <div class="p hidden-xs text-success text-center"></div>
</div>
@Html.Partial("_PromotionBar")