#test {
  display: none;
}
.display-block {
  display: block;
}
.border-dark {
  border: 1px solid #333;
}
.border-light {
  border: 1px solid #cecece;
}
a:hover {
  color: #cb0003;
  text-decoration: none;
}
img,
img:focus,
img::-moz-focus-inner,
a::-moz-focus-inner,
:-moz-any-link:focus,
a:hover,
a:active,
a:focus {
  border: 0;
  outline: none;
  -moz-outline-style: none;
  outline-style: none;
}
.border-radius-0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn.bg-red-color:hover {
  background-color: #cb0003;
  color: #ffffff;
  border-color: #cb0003;
}
.no-gutter > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.valign-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.valign {
  display: block;
  margin: auto;
}
.head-login {
  background-color: #cb0003;
}
.head-login .login-help {
  padding: 4px;
}
.head-login .login-help a {
  border: 1px solid transparent;
  display: inline-block;
  padding: 8px;
  color: #ffffff;
}
.head-login .login-help a:hover {
  border: 1px solid #ffffff;
}
.head-logo .register li {
  margin: 0;
  padding: 0;
}
.head-logo .register li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: block;
  padding: 8px;
}
.head-menu-container {
  background-color: #edcb5f;
}
.head-menu > ul {
  background-color: #edcb5f;
}
.head-menu > ul > li {
  display: block;
  float: left;
  position: relative;
}
.head-menu > ul > li.in > a {
  background-color: #cb0003;
  color: #edcb5f;
}
.head-menu > ul > li.in > a:before {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  background: #edcb5f;
  position: absolute;
  left: 0;
  top: -4px;
}
.head-menu > ul > li > a {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  float: left;
  padding: 8px 16px;
  color: #cb0003;
  position: relative;
}
.head-menu > ul > li > a:hover {
  background-color: #cb0003;
  color: #edcb5f;
}
.head-menu > ul > li > a:hover:before {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  background: #edcb5f;
  position: absolute;
  left: 0;
  top: -4px;
}
.head-menu > ul > li > ul {
  position: absolute;
  z-index: 2000;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider {
  background: #4caf50;
}
.slider .carousel-control {
  background-image: none;
}
.content .ad {
  height: 228px;
  overflow: hidden;
}
.content .ad:hover {
  cursor: pointer;
}
.content .ad:hover img {
  top: -228px;
}
.content .ad img {
  position: relative;
  top: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content .ad-s {
  height: 145px;
}
.content .ad-s:hover img {
  top: -145px;
}
.content .ad-xs {
  width: 295px;
  height: auto;
  overflow: hidden;
}
.content .ad-xs:hover img {
  top: 0;
  left: -295px;
}
.content .ad-xs img {
  position: relative;
  left: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-coop {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.menu-coop .row [class*="col-"] {
  text-align: center;
}
.menu-origin > li {
  position: relative;
}
.menu-origin > li:hover ul {
  display: block;
}
.menu-origin > li ul {
  position: absolute;
  top: 100%;
  display: none;
  min-width: 100%;
  background: #cb0003;
}
.menu-origin > li ul li {
  display: block;
  margin: 0;
  padding: 0;
}
.menu-origin > li ul li a {
  margin: 0;
  padding: 8px;
  display: block;
  white-space: nowrap;
  color: #edcb5f;
}
.menu-origin > li ul li a:hover {
  background: #edcb5f;
  color: #cb0003;
}
.menu-origin-toggle {
  display: none;
}
.menu-origin-toggle span {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 767px) {
  .menu-origin-toggle {
    display: block;
    background: #303030;
    color: #fff !important;
    padding: 8px;
  }
  .menu-origin-toggle.down span {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .menu-origin {
    display: none;
  }
  .menu-origin.menu-expanded {
    display: block;
  }
  .menu-origin > li {
    display: block !important;
    float: none !important;
  }
  .menu-origin > li > a {
    float: none !important;
  }
  .menu-origin > li > a:before {
    display: none !important;
    height: 0;
  }
  .menu-origin > li ul {
    display: none !important;
  }
  .head-logo [class*=col-] {
    text-align: center;
    padding: 8px 0;
  }
  .head-login .login-help {
    text-align: center;
  }
  .head-login .login-form button {
    width: 100%;
  }
  .login-form span {
    display: none;
  }
  .login-form span ~ button {
    margin-top: 8px;
  }
}
/*# sourceMappingURL=styles.css.map */