@{
    ViewBag.Title = "Info Center";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#about-us" aria-controls="about-us" role="tab" data-toggle="tab">Thông tin công ty</a></li>
        <li role="presentation"><a href="#gaming-policy" aria-controls="gaming-policy" role="tab" data-toggle="tab">Chính sách cược</a></li>
        <li role="presentation"><a href="#help" aria-controls="help" role="tab" data-toggle="tab">Giúp đỡ</a></li>
        <li role="presentation"><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">Điện thoại di động</a></li>
        <li role="presentation"><a href="#how-to-play" aria-controls="how-to-play" role="tab" data-toggle="tab">Cách chơi</a></li>
        <li role="presentation"><a href="#agency" aria-controls="agency" role="tab" data-toggle="tab">Đại lý</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content card2">
        <div role="tabpanel" class="tab-pane active p+ card fix-content" id="about-us">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#about" class="list-group-item active" data-scroll="about">Về BET98</a>
                        <a href="#contact" class="list-group-item" data-scroll="contact">Liên hệ</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Cơ hội nghề nghiệp</a>
                        <img src="~/Content/images/Casino_0001_help.png" class="width-full" />
                    </div>
                </div>
                <div class="col-md-9 test">
                    <div id="about" class="bg-danger2">
                        <h2 class="text-uppercase big-title">About Us</h2>
                        <p>
                            BET98 là công ty hàng đầu Châu Á trong lĩnh vực Cá Cược Trực Tuyến với nhiều sản phẩm hấp dẫn và thú vị từ Thể Thao, Cược Trong Trận, Casino Trực Tuyến, Slot games, Xổ Số và nhiều hơn nữa. Để đem đến cho khách hàng công nghệ cá cược trực tuyến hiện đại nhất và đặt cược tốt nhất, BET98 hợp tác với nhiều tập đoàn lớn như One works, Entwine, Microgaming, Crown Casino, Gold Deluxe, PlayTech, Laxino, Betsoft, và Bodog. Chúng tôi cung cấp trên 10,000 game Thể Thao khác nhau mỗi tháng tại Trang Thể Thao và hơn 100 game Casino như baccarat, slots, roulette và các game khác tại Trang Casino.
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">uy tín</h3>
                        <p>
                            BET98 thuộc sở hữu của Welton Holdings LTD, được cấp giấy phép đăng ký hoạt động trong lĩnh vực cá cược và giải trí vào năm 2009. Giấy phép được cấp bởi Ủy ban Giám sát trò chơi Isle of Man (xem giấy phép tại đây), First Cagayan Leisure & Resort Corporation(xem giấy phép tại đây) và Gaming Associates (xem giấy phép tại đây). Chúng tôi đã được chứng nhận bởi những tổ chức Cá Cược Uy Tín trên vì vậy Chúng Tôi đảm bảo với các thành viên hiện tại và tương lai rằng tham gia đặt cược tại BET98 rất an toàn và tuân theo tiêu chuẩn qui định chung của ngành cá cược trực tuyến
                        </p>
                        <p>
                            BET98 cũng hợp tác với những công ty hàng đầu thế giới về hệ thống an ninh mạng và hệ thống kiểm toán IOVATION để đảm bảo tuyệt đối sự bảo mật và sự riêng tư thông tin khách hàng.
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">GIẢI THƯỞNG</h3>
                        <p>
                            Trong 5 năm hoạt động, BET98 đã nhận được giải thưởng "Asian Live Gaming Operator of the Year”, “Asian Operator năm 2009" và “Asian Operator năm 2010" được bình chọn bởi EGR Awards do eGaming Review Magazine tổ chức.
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">TÀI TRỢ</h3>
                        <p>
                            Là một trong những trang cá cược trực tuyến hàng đầu châu Á, chúng tôi đã hợp tác với những câu lạc bộ bóng đá đẳng cấp quốc tế như Burnley F.C và Tottenham Hotspur. BET98 là đối tác cá cược châu Á chính thức của Câu Lạc Bộ Tottenham Hotspur trong năm 2013, 2014, bắt nguồn cho sự ra đời của Hotspur88, trang cá cược châu Á đầu tiên và duy nhất của giải đấu Ngoại Hạng Anh. Từ năm 2014 cho đến nay, BET98 là nhà tài trợ áo thi đấu chính thức cho Câu Lạc Bộ Burnley.
                        </p>
                        <p>
                            Năm 2014, chúng tôi đã hợp tác cùng Lamborghini và hình thành BET98 Racing, tham gia thi đấu tại Cúp GT Châu Á (GT Asia Championship). Đồng thời, bổ nhiệm ngôi sao AV Nhật Bản Rola Takizawa và Huyền thoại bóng đá Robbie Fowler là đại sứ thương hiệu. Gắn liền với những tên tuổi lớn trong lĩnh vực thể thao và giải trí, thương hiệu của chúng tôi minh chứng cho sự uy tín và bền vững.
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">CHĂM SÓC KHÁCH HÀNG</h3>
                        <p>
                            BET98 có mặt tại Trung Quốc và các thị trường Đông Nam Á bao gồm Thái Lan, Indonesia và Việt Nam. Chúng tôi tự hào về tính hiệu quả bộ phận Chăm Sóc Khách Hàng, làm việc liên tục 24/7 cho bất cứ thắc mắc của khách hàng. Chúng tôi ưu tiên hàng đầu Độ Bảo Mật trong hệ thống thanh toán và thông tin tuyệt mật của khách hàng.
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">CHƯƠNG TRÌNH GIẢI THƯỞNG VÀ GIẢI TRÍ</h3>
                        <p>
                            Tại BET98, chúng tôi cố gắng cung cấp trò chơi và dịch vụ trực tuyến tốt nhất để các thành viên luôn hài lòng. Chúng tôi có trang Bliss, tạp chí trực tuyến cho các thành viên và các khách hàng khác. Chúng tôi cũng đã đưa ra chương trình Giải Thưởng để các thành viên có thể qui đổi và nhận những phần thưởng xứng đáng. Chơi tại BET98 không những vui, giải trí mà còn được nhận thưởng!
                        </p>
                    </div>
                    <div id="contact" class="bg-info2">
                        <h2 class="text-uppercase big-title">LIÊN HỆ</h2>
                        <p>
                            Các Chuyên viên Dịch vụ khách hàng sẵn sàng trả lời tất cả các thắc mắc của bạn, về hình thức thanh toán, hoặc các câu hỏi khác bằng tiếng Việt.
                        </p>
                        <p>
                            Bộ Phận Hỗ Trợ Trực Tuyến 24/7
                        </p>
                        <p>
                            Bạn cũng có thể liên lạc với chúng tôi tại:
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-phone fa-2x"></span> (+84) 1644294490</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-comment fa-2x"></span> chat trực tuyến</a>
                            </li>
                        </ul>
                    </div>
                    <div id="career" class="bg-success">career</div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane p+ card fix-content" id="gaming-policy">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#play" class="list-group-item active" data-scroll="play">Chơi có trách nhiệm</a>
                        <a href="#condition" class="list-group-item"  data-scroll="condition">Điều khoản & Bảo Mật</a>
                        <a href="#privacy" class="list-group-item" data-scroll="privacy" role="tab">Chính sách bảo mật</a>
                        <a href="#claims" class="list-group-item" data-scroll="claims" role="tab">Tuyên bố trách nhiệm</a>
                        <img src="~/Content/images/Casino_0001_help.png" class="width-full" />
                    </div>

                </div>
                <div class="test col-md-9 ">
                    <div id="play">
                        <h2 class="text-uppercase big-title">ĐẶT CƯỢC CÓ TRÁCH NHIỆM</h2>
                        <h3 class="sub-title with-opacity text-uppercase">CHÍNH SÁCH ĐẶT CƯỢC CÓ TRÁCH NHIỆM CỦA BET98</h3>
                        <p>
                            BET98 có quyền quy định cược có trách nhiệm cũng như sự nhận thức về việc ngăn chặn các biểu hiện cược có vấn đề, sự can thiệp và đối xử. Chính sách Cược có Trách nhiệm của BET98 được quy định nhằm giảm thiểu những tác động tiêu cực của cược có vấn đề và thúc đẩy các hoạt động cược có trách nhiệm.
                        </p><p>Chúng tôi tin tưởng đó là trách nhiệm dành cho quý khách, những khách hàng của chúng tôi, để đảm bảo quý khách được trải nghiệm cá cược thoải mái trên web của chúng tôi, đồng thời duy trì nhận thức đầy đủ về những tác hại về tài chính và xã hội liên quan đến cá cược có vấn đề.</p>
                        <p>Để trợ giúp cho người chơi cược một cách có trách nhiệm, chúng tôi đảm bảo rằng tất cả các nhân viên của chúng tôi đều có sự nhận thức rõ ràng về cược có trách nhiệm. Vui lòng liên hệ với trung tâm trợ giúp của chúng tôi nếu quý khách cần thông tin thêm hoặc sự trợ giúp.</p>
                        <h3 class="sub-title with-opacity text-uppercase">DUY TRÌ SỰ KIỂM SOÁT</h3>
                        <p>
                            Trong khi phần lớn các khách hàng của chúng tôi cá cược theo đúng nghĩa giải trí, một số ít có thể khó khăn hơn với mục tiêu này. Để duy trì việc kiểm soát thói quen cá cược, chúng tôi muốn quý khách ghi nhớ một số điểm sau:
                        </p>
                        <p>
                            1)Cá cược nên điều độ và cần xem đó là cách giải trí chứ không phải là cách duy nhất để kiếm tiền<br>
                            2)
                            Tránh theo đuổi cứu vãn những lần thua cuộc<br>
                            3) Chỉ cược khi quý khách có thể kiểm soát được mất mát<br>
                            4)
                            Giữ nhịp độ thời gian cân bằng và theo dõi số tiền quý khách chi hàng ngày
                        </p>
                        <p>Nếu quý khách cần nói chuyện với ai đó về bất cứ điều gì mà quý khách có thể đang gặp phải với việc cá cược, vui lòng liên hệ với một trong các tổ chức dưới đây:</p>
                        <h3 class="sub-title with-opacity text-uppercase">
                            QUÝ KHÁCH GẶP PHẢI VẤN ĐỀ GÌ?
                        </h3>
                        <p>
                            Nếu quý khách lo lắng việc cá cược có tác động tiêu cực đến cuộc sống của quý khách hoạc ai đó thì những câu hỏi dưới đây sẽ giúp quý khách yên tâm hơn.
                        </p>
                        <p>
                            - Có phải cá cược cản trở quý khách làm việc hoặc gặp gỡ bạn bè?<br>
                            - quý khách cá cược để giết thời gian hay để thoát khỏi nỗi buồn chán?<br>
                            - quý khách cá cược một mình trong một thời gian dài?<br>
                            - Đã có ai chỉ trích việc quý khách cá cược chưa?<br>
                            - quý khách đã đánh mất sự quan tâm dành cho gia đình, bạn bè hoặc các sở thích cá nhân vì cá cược chưa?<br>
                            - quý khách đã từng lừa dối để có tiền hay thời gian vùi đầu vào cá cược không?<br>
                            - quý khách đã lừa dối, đánh cắp hoặcvay mượn tiền để chìm đắm vào cờ bạc hay không?<br>
                            - quý khách miễn cưỡng tiêu tiền vào cá cược hay bất cứ cái gì khác không?<br>
                            - quý khách cá cược cho đến khi quý khách mất hết tài sản tiền bạc phải không?<br>
                            - Sau khi mất tiền, quý khách cảm thấy rằng quý khách phải cố và kéo lại những mất mát đó được chút nào hay chút đó không?<br>
                            - Nếu quý khách khánh kiệt khi đánh cược, quý khách có cảm thấy thất vọng và thấy cần cố chơi lại bằng mọi giá không?<br>
                            - Những sự cãi vã, mất mát hay nỗi thất vọng có làm quý khách muốn tìm đến cá cược không?<br>
                            - Cá cược có khiến quý khách tuyệt vọng hoặc thậm chí tự tử vì nó?
                        </p>
                        <p>Càng nhiều những câu hỏi quý khách trả lời "đúng" thì quý khách đang gặp khó khăn thật sự với cá cược đấy. Để nói với ai đó có thể đưa ra lời khuyên và hỗ trợ cho quý khách, vui lòng liên hệ với một trong các tổ chức liệt kê dưới đây.	</p>
                        <p>Những tín đồ cá cược Ẩn danh là hội dành cho nam nữ cùng tham gia để làm điều gì đó nhằm giải quyết vấn đề cá cược của riêng họ và giúp đỡ những con bạc khác hiểu vấn đề. Có nhiều hội mang tính khu vực trên toàn thế giới. Trang web Dịch vụ Những tín đồ cá cược Ẩn danh là &nbsp;<a href="http://www.gamblersanonymous.org/" onclick="javascript:popUpWindowManager(this.href, 'title',1020); return false;">www.gamblersanonymous.org&nbsp;</a></p>
                        <p>Liệu pháp điều trị Cá cược cung cấp sự trợ giúp và tư vấn cho bất cứ ai bị ảnh hưởng với cá cược. quý khách có thể tru nhập trang web của tổ chức này tại địa chỉ &nbsp;<a href="http://www.gamblingtherapy.org" onclick="javascript:popUpWindowManager(this.href, 'title',1020); return false;">www.gamblingtherapy.org</a></p>
                        <h3 class="sub-title with-opacity text-uppercase">CÁ CƯỢC KHÔNG ĐÚNG MỨC</h3>
                        <p>
                            Những ai chưa đủ 18 tuổi mà muốn mở tài khoản hoặc chơi cá cược tại BET98 là bất hợp pháp. BET98 đề cao chi tiết này một cách nghiêm túc. Chúng tôi thực hiện việc xác minh tuổi tác với tất cả khách hàng sử dụng cơ chế thanh toán dành cho tuổi dưới 18 và tiến hành kiểm tra tuổi ngẫu nhiên đối với các khách hàng đang sử dụng các hình thức thanh toán khác.
                        </p>
                        <p>
                            XIN LƯU Ý RẰNG BẤT CỨ AI DƯỚI ĐỘ TUỔI 18 BỊ PHÁT HIỆN ĐANG DÙNG TRANG WEB SẼ BỊ PHẠT TIỀN VÀ CÓ THỂ CÒN BỊ BÁO CHO CẢNH SÁT
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">CÁC HỆ THỐNG LỌC</h3>
                        <p>BET98 khuyến khích khách hàng của mình ngăn chặn trẻ vị thành niên không được truy nhập vào các trang web cá cược. ICRA (Hiệp hội Phân loại Nội dung Internet) đề xuất một giải pháp lọc hoàn thiện cho các bậc cha mẹ và BET98 đã được đăng ký kèm theo giải pháp này như một nội dung của trang cá cược. Nếu quý khách chia sẻ hoặc đánh cược với trang của chúng tôi, hãy nhấn chuột vào liên kết này để đăng ký:&nbsp;&nbsp;<a href="http://www.icra.org" onclick="javascript:popUpWindowManager(this.href, 'title',450); return false;">www.icra.org</a>. Các giải pháp lọc thay thế luôn có sẵn tại NetNanny hoặc Cyberpatrol.</p>
                        <h3 class="sub-title with-opacity text-uppercase">GIỚI HẠN TIỀN CƯỢC</h3>
                        <p>Tại BET98.com, chúng tôi nhận biết và thừa nhận tầm quan trọng của việc áp đặt giới hạn để kiềm chế có hiệu quả các vấn đề cá cược trực tuyến. Như vậy, chúng tôi cung cấp cho quý khách những công cụ thích hợp để kiểm soát số tiền quý khách sử dụng để đánh bạc. quý khách sẽ có thể thiết lập giới hạn của riêng quý khách cược cho&nbsp;Thể thao&nbsp;và điều chỉnh tại bất kỳ dịp quý khách thấy phù hợp. Đơn giản chỉ cần chọn&nbsp;Ngân sách cá cược&nbsp;từ&nbsp;Mục Quản lý Tài khoản&nbsp;và đánh dấu vào ô&nbsp;Kích hoạt. Sau đó, nhập vào&nbsp;Giới hạn tiền cược&nbsp;tối đa&nbsp;mong muốn ở phần&nbsp;Giới hạn tiền cược&nbsp;và nhấp vào&nbsp;Cập nhật. Sau khi thiết lập giới hạn tiền cược của mình, quý khách sẽ nhận được một thông báo trong email mà quý khách cần phải xác nhận trước khi yêu cầu của quý khách được xử lý. Xin lưu ý rằng số tiền mà quý khách đã nhập vào sẽ là số tiền các cược tối đa mà quý khách có thể đặt cược trong vòng bảy (7) ngày liên tiếp.</p>
                        <p>Để hỗ trợ quý khách thiết lập giới hạn cược nào cho phù hợp, hãy cố gắng suy nghĩ về những điều sau:</p>
                        <p>
                            - Xác định mức thua lỗ trước khi tiến hành đặt cược.<br>
                            - Mức độ thường xuyên chơi cá cược.<br>
                            - Thời gian chơi cá cược trong bao lâu.<br>
                            - Xác định khoản tiền sẽ đặt cược hàng ngày,tuần và tháng.
                        </p>
                        <h3 class="sub-title with-opacity text-uppercase">TỰ LOẠI TRỪ</h3>
                        <p>Vào bất kỳ lúc nào, nếu quý khách lo lắng về hành vi đánh bạc của mình, quý khách có thể thể hạn chế đặt cược tại mục Cài Đặt Tự Loại Trừ. Đơn giản chỉ cần chọn Ngân sách cá cược từ Mục Quản lý tài khoản và chọn một trong hai giai đoạn Tự loại trừ mà quý khách muốn:</p>
                        <p>
                            - Thời hạn 7 ngày<br>
                            - Thời hạn 90 ngày Tự loại trừ
                        </p>
                        <p>Khi yêu cầu thời gian Tự loại trừ, quý khách sẽ nhận được một thông báo qua email mà quý khách cần phải xác nhận trước khi yêu cầu của quý khách được xử lý.</p>
                        <p> Trong thời gian này, quý khách đang tự nguyện loại trừ chính mình khỏi:</p>
                        <p>
                            - Tham gia vào các hoạt động đánh bạc trực tuyến trên trang web của chúng tôi<br>
                            - Gửi tiền hoặc chuyển tiền
                        </p>
                        <p>Chúng ta sẽ bị bắt buộc phải hạn chế quý khách truy cập tài khoản của quý khách bằng việc khóa tạm thời và chúng tôi sẽ dùng mọi biện pháp hợp lý để đảm bảo rằng quý khách sẽ không nhận được bất kỳ tài liệu tiếp thị và quảng cáo nào từ công ty của chúng tôi.</p>
                        <p>Xin lưu ý rằng vì một lý do gì đó, tài khoản của quý khách vẫn không thể được tái kích hoạt trước khi giai đoạn tự loại trừ hết hạn. Tài khoản của quý khách sẽ không được tái kích hoạt tự động. Nếu quý khách muốn kích hoạt lại tài khoản của quý khách ở cuối thời kỳ Tự loại trừ, &nbsp;quý khách cần gửi yêu cầu đến dịch vụ khách hàng của chúng tôi tại&nbsp;<a href="mailto:cs.viet@BET98.com">cs.viet@BET98.com</a>.</p>
                        <p>Để biết liệu Tự loại trừ có là một lựa chọn lành mạnh cho quý khách, quý khách cần tự hỏi mình trước:</p>
                        <p>
                            - Cờ bạc trực tuyến can thiệp công việc của tôi hoặc các trách nhiệm khác của tôi không?<br>
                            -
                            Cờ bạc trực tuyến can thiệp công việc của tôi hoặc các trách nhiệm khác của tôi không?<br>
                            -
                            Tôi đang phục hồi khỏi chứng nghiện cờ bạc?<br>
                            -
                            Tôi có đánh bạc dưới ảnh hưởng của rượu hoặc bất kỳ ảnh hưởng nào khác không?
                        </p>
                        <p>Nếu câu trả lời của quý khách là có ít nhất một trong số các câu hỏi trên, chúng tôi khuyên quý khách yêu cầu Tự loại trừ và tìm kiếm sự trợ giúp chuyên nghiệp.</p>
                        <p>Nếu quý khách nghĩ rằng quý khách có thể là một con nghiện cờ bạc, quý khách có thể viết thư cho chúng tôi tại&nbsp;<a href="mailto:counselor@BET98.com">counselor@BET98.com</a>.  Tư vấn viên của chúng tôi sẽ hướng quý khách đến các tổ chức chuyên giúp đỡ những người có vấn đề cờ bạc cũng như cung cấp thông tin về cách từ bỏ thói quen này.</p>
                        <p>&nbsp;</p>
                    </div>
                    <div id="condition">
                        <h2 class="text-uppercase big-title">
                            CÁC ĐIỀU KIỆN VÀ ĐIỀU KHOẢN
                        </h2>
                        <div>
                            <p>FUN88 ĐƯỢC CẤP PHÉP VÀ ĐĂNG KÝ TẠI ISLE OF MAN ĐỂ CUNG CẤP CÁC DỊCH VỤ CÁ CƯỢC THỂ THAO TRỰC TUYẾN VÀ CÁC DỊCH VỤ CÁ CƯỢC KHÁC. VUI LÒNG LƯU Ý RẰNG CÁC KHOẢN NỢ CỦA CÁ CƯỢC TRỰC TUYẾN SẼ ĐƯỢC THI HÀNH THEO LUẬT CỦA ISLE OF MAN</p>
                            <p>Các Điều Khoản và Điều Kiện có hiệu lực từ 18/02/2011 và thay thế các Điều khoản và Điều kiện trước đó. Nếu quý khách không đồng ý với bất kỳ các Điều Khoản và Điều Kiện, cũng như những Điều chỉnh theo thời gian hoặc bất cứ những qui định có hiệu lực nào, thì quý khách không được phép sử dụng hoặc truy cập vào các dịch cụ của trang web.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">1. Các Định nghĩa</h3>
                            <p>Những qui định sau đây sẽ nêu rõ các Điều khoản và Điều kiện chi phối việc sử dụng, truy nhập và tham gia vào bất cứ dịch vụ "chơi thật" nào được cung cấp bởi FUN88.COM (những từ liên quan như "FUN88", "chúng tôi", "của chúng tôi", hoặc "chúng ta" được coi như các yêu cầu ngữ cảnh) lúc này hay lúc khác ("Dịch vụ(các dịch vụ)") trên và/hoặc trong địa chỉ website www.FUN88.com, và bất cứ trang web nào khác hoạt động dưới tên FUN88.COM ("Trang web(các trang web)"). Những qui định này cần được đọc kỹ cùng với luật chơi trò chơi bất kỳ (chẳng hạn, "Luật chơi cược") có thể áp dụng, và bất cứ Điều kiện, Điều khoản nào kiểm soát việc sử dụng Dịch vụ, Phần mềm và truy nhập vào trang web (các trang web) và Thông tin được bao hàm trong đó (cùng với "các Điều kiện và Điều khoản" này).</p>
                            <p>Cược hoặc "đặt cược" với mục đích của các Điều kiện và Điều khoản này bao gồm, không có giới hạn, đánh cược, đánh bài và cờ bạc được thực hiện liên quan đến bất cứ và/hoặc tất cả Dịch vụ (các Dịch vụ) được cung cấp trên web (các web);</p>
                            <p>Thiết bị (các Thiết bị) có nghĩa là bất cứ thiết bị gì được dùng để truy cập, bao gồm nhưng không bị giới hạn đối với máy tính bàn, máy tính xách tay, điện thoại di động, thiết bị kỹ thuật số cá nhân, điện thoại PDA, dụng cụ cầm tay được sử dụng và truy nhập vào trang web (các trang web) và tham gia Dịch vụ;</p>
                            <p>Phần mềm có nghĩa là bất cứ chương trình cho máy tính, dữ liệu hoặc bất cứ nội dung nào khác (bao gồm tất cả thông tin người dùng liên quan đến những vật kể trên) được yêu cầu cài đặt vào Thiết bị để cho phép quý khách sử dụng, truy nhập và tham gia vào các Dịch vụ vì mục đích sử dụng, truy nhập và tham gia vào các dịch vụ được kể trên tại web qua Thiết bị của quý khách; và</p>
                            <p>Cá cược thể thao có nghĩa là hệ thống trò chơi cá cược trực tuyến có khả năng truy nhập và/hoặc được cung cấp tại một phần của website có tên "Thể Thao", và tất cả các dịch vụ liên quan cũng như các hoạt động cá cược trực tuyến.</p>
                            <p></p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">2. Chấp nhận </h3>
                            <p>Bằng cách đánh dấu vào hộp thoại "Tôi xác nhận rằng Tôi đủ 18 tuổi và tôi đã đọc, ghi nhớ và chấp nhận các Điều kiện và Điều khoản của Fun88.com" và nhấn vào nút "LƯU VÀ TIẾP TỤC" trong quá trình quý khách đăng ký, quý khách luôn hiểu và chấp nhận rằng:</p>
                            <p>quý khách đã đọc, hiểu toàn bộ và chấp nhận những Điều kiện và Điều khoản này; và</p>
                            <p>Những Điều kiện và Điều khoản này thỏa thuận có tính ràng buộc pháp lý ("Thỏa thuận") giữa quý khách và FUN88 liên quan đến việc sử dụng Dịch vụ.</p>
                            <p>Nếu quý khách không đồng ý với bất cứ khoản nào trong các Điều kiện và Điều khoản này, vui lòng đánh dấu vào hộp "Tôi đủ18 tuổi và tôi đã đọc, ghi nhớ và chấp nhận các Điều khoản và Điều kiện của FUN88", không nhấn chuột vào nút "LƯU VÀ TIẾP TỤC", và đừng cố gắng dùng hoặc tiếp tục bất cứ dịch vụ nào hoặc tải về và/hoặc cài đặt Phần mềm.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">3. Sự Sửa đổi </h3>
                            <p>Chỉ duy nhất Chúng tôi có quyền bổ sung, cập nhật và sửa đổi những Điều kiện và Điều khoản này và các Luật Cá cược Nhà cái (hay bất kỳ phần nào từ đó) tại bất kỳ thời điểm và những bổ sung, cập nhật và sửa đổi đó sẽ được công bố trên Trang web. Các Điều kiện, Điều khoản và Luật Cá cược Nhà cái được bổ sung, cập nhật và sửa đổi tại bất kỳ cụ thể sẽ có hiệu lực kể từ lúc được công bố trên Trang Web. Việc tiếp tục sử dụng, truy cập và tham gia vào các dịch vụ trên hay thông qua trang web và các thiết bị của chúng tôi sau lúc công bố đó, chứng tỏ rằng sự chấp thuận của quý khách về các Điều kiệu Điều khoản và các Luật Cá Cược Nhà Cái đã được sửa đổi và cập nhật mà chúng tôi công bố tại bất kỳ thời điểm nào</p>
                            <p>quý khách hiểu và đồng ý rằng quý khách phải có trách nhiệm tự kiểm tra xem có bất cứ sửa đổi, cập nhật và/hoặc Điều chỉnh nào không. FUN88 với quyền đơn phương Điều chỉnh của mình sẽ thông báo cho quý khách những thay đổi hoặc cập nhật tương tự. Sự thông báo đó được cung cấp bởi FUN88 bất cứ lúc nào sẽ không tạo thành một ràng buộc đối với FUN88 là phải báo với quý khách những thay đổi, cập nhật hoặc Điều chỉnh.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">4. Sở hữu Trí tuệ và Thông tin </h3>
                            <p>Dữ liệu, tư liệu và thông tin được cung cấp và tạo ra cho quý khách sử dụng hoặc phát sinh và/hoặc thu thập bởi các Trang Web, Dịch vụ và/hoặc thông qua các Thiết bị và/hoặc dưới bất cứ hình thức nào bao gồm, không giới hạn, các chương trình tiếp thị và tư liệu, kết quả, thống kê, dữ liệu thể thao và các danh sách cố định, các con số cược và tỷ lệ cược, chữ, biểu đồ, băng hình và nội dung âm thanh ("Thông tin"), thuộc về FUN88 và/hoặc người cấp phép của chúng tôi và chỉ để phục vụ cho cá nhân quý khách và sử dụng không nhằm mục đích thương mại.</p>
                            <p>Lưu vào được qui định rõ ràng bởi các Điều kiện và Điều khoản, quý khách sẽ không được sao chép, soạn thảo, tái sản xuất, lưu trữ, phân phối, cho ai xem dưới bất kỳ hình thức nào, bao gồm chương trình cáp, xuất bản, chuyển, bán, cho thuê, thuê hoặc cho phép hoặc các hình thức khác làm thông tin bị phổ biến cho người khác, hoặc website khác, dịch vụ trực tuyến hoặc bảng tin, hoặc bất cứ phương tiện truyền thông nào khác và/hoặc Thiết bị mà không có sự cho phép bằng văn bản của chúng tôi hoặc trong trường hợp tư liệu của bên thứ 3, mà không có sự cho phép bằng văn bản của chủ sở hữu trí tuệ với các tư liệu đó.</p>
                            <p>Phần mềm, Dịch vụ và Thông in được cung cấp trên website và/hoặc qua Thiết bị được bảo hộ bởi bản quyền, thương hiệu và các hình thức của quyền sở hữu trí tuệ và tài sản. Tất cả các quyền, danh hiệu và quyền lợi của Phần mềm, Dịch vụ và Thông tin trên website được sở hữu và cấp phép cho và/hoặc kiểm soát bởi FUN88 và/hoặc các nhà cấp phép của chúng tôi. quý khách hiểu rằng quý khách không có quyền hoặc lợi ích, hoặc bất cứ quyền gì với Phần mềm, Dịch vụ và Thông tin qua việc sử dụng và truy nhập của quý khách với các phương tiện nói trên được cung cấp tại website và/hoặc qua các Thiết bị.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">5. Điều kiện Sử dụng </h3>
                            <p>Là một Điều kiện để sử dụng dịch vụ, quý khách phải đảm bảo và cam đoan rằng quý khách sẽ không sử dụng hay truy cập trang Web, Dịch vụ và Phần Mềm và/hoặc Thông tin vì bất kỳ mục đích gì bất hợp pháp mà luật đã ban hành áp dụng cho quý khách hoặc bị cấm và/hoặc vi phạm các Điều kiện và Điều khoản này. Đặc biệt, (bên cạnh tất cả những Điều khoản khác ghi trong mục Điều kiện và Điều khoản này), quý khách phải đảm bảo và cam đoan những Điều sau đây để được sử dụng các dịch vụ :</p>
                            <p>Vì quý khách không phải là công dân của Philippines, Đức, Hoa Kỳ, Singapore, Malaysia, Thổ Nhĩ Kỳ, Đài Loan hoặc bất cứ khu vực nào khác, chúng tôi có thể xác định theo thời gian.</p>
                            <p>quý khách đại diện cho chính mình và trong khả năng của mình, và không thay mặt người khác.</p>
                            <p>quý khách không bị giới hạn bởi luật pháp.</p>
                            <p>quý khách không bị chẩn đoán hoặc có vấn đề bị phân loại là một người chơi bạc bị ép buộc hoặc tự xem mình tương tự.</p>
                            <p>quý khách (a) đủ 18 tuổi hoặc (b) ở độ tuổi khác hợp pháp hoặc tuổi trưởng thành theo luật quy định đối với quý khách, áp dụng tuổi nào lớn hơn ("Độ tuổi hợp pháp").</p>
                            <p>quý khách nhận thức đầy đủ về nguy cơ thua tiền trong quá trình sử dụng các Dịch vụ</p>
                            <p>quý khách không gửi tiền có những nguồn gốc từ các hoạt động phạm tội hay các hoạt động phi pháp và trái phép khác.</p>
                            <p>quý khách không thực hiện các hoạt động tội phạm, phi pháp hoặc trái phép và/hoặc có ý định sử dụng tài khoản của quý khách mở với chúng tôi có liên quan đến các hoạt động đó và quý khách sẽ không sử dụng hoặc cho phép những người khác sử dụng các dịch vụ và tài khoản cá cược của quý khách vì bất kỳ một hoạt động phạm tội hoặc phi pháp nào bao gồm nhưng không giới hạn ở rửa tiền, dưới bất kỳ luật nào áp dụng với quý khách.</p>
                            <p>Giữ tên truy nhập, số tài khoản và mật khẩu của quý khách được an toàn, bí mật và chống lại những truy cập hoặc sử dụng trái phép, và đảm bảo rằng quý khách đổi mật khẩu ngay lập tức hoặc thông báo cho chúng tôi nếu độ bí mật về tên truy nhập, mật khẩu và số tài khoản của quý khách đã bị xâm phạm dưới bất kỳ hình thức nào.</p>
                            <p>quý khách là người duy nhất chịu trách nhiệm về bất kỳ và tất cả các hoạt động diễn ra với việc truy cập và sử dụng các dịch vụ trên và thông qua trang Web và/hoặc thiết bị dưới tên quý khách, số tài khoản và mật khẩu của quý khách, bất kể việc truy cập và sử dụng đó được quý khách cho phép và biết đến hay không và bất kỳ các thiệt hại gây ra do một bên thứ ba sử dụng tài khoản sẽ không được chúng tôi hoàn trả và khách hàng phải chịu trách nhiệm hoàn toàn cho bất kỳ bên thứ ba nào sử dụng thông tin đăng nhập của khách hàng và làm chúng tôi vô can trong việc đến các thiệt hại liên quan</p>
                            <p>Không sử dụng Dịch vụ, trang Web, Thiết bị và Phần mềm hay thông tin dưới bất kỳ cách nào gây cản trở hoặc có thể gây cản trở đến việc tiếp cận Dịch vụ và trang Web của những người sử dụng khác, cũng không được làm bất cứ Điều gì làm giảm sút hoặc có thể gây giảm sút hoạt động của các Dịch vụ và trang Web.</p>
                            <p>Không được nài xin hoặc bằng bất cứ cách nào tìm cách lấy thông tin có liên quan đến những người sử dụng khác.</p>
                            <p>Không được tải lên hoặc phân phát bất kỳ chương trình, tập tin hoặc dữ liệu nào mà chứa vi-rút, nguy hại hoặc có thể ảnh hưởng tới hoạt động của Thiết bị, phần mềm, Dịch vụ và Trang Web.</p>
                            <p>Việc sử dụng và truy cập vào Dịch vụ và thông tin của quý khách trên và thông qua trang Web và/hoặc thiết bị không phạm pháp và không bị pháp luật cấm đoán, hoặc những quy định bắt buộc áp dụng cho cá nhân quý khách hoặc đối với những người từ đất nước mà quý khách đang truy cập vào trang Web hoặc sử dụng các Thiết bị.</p>
                            <p>Không sử dụng bất kỳ thiết bị, người máy, vật hình nhện, hay những phương pháp khác (hoặc bất cứ cái gì có bản chất giống như những vật đã đề cập ở trên) để cản trở hoặc cố ý cản trở hoạt động bình thường của các Dịch vụ, Thiết bị, phần mêm, trang Web, thông tin hay bất kỳ giao dịch nào do trang web cung cấp và/hoặc thông qua các thiết bị và đặc biệt không sử dụng trí tuệ nhân tạo hay các hệ thống khác (bao gồm máy móc, máy tính , phần mềm hoặc các hệ thống tự động khác) được thiết kế đặc biệt đế đánh bại hệ thống và không được thông đồng hoặc cố gắng thông đồng với các người chơi khác để lừa gạt Fun88 ( hoặc các người chơi khác chẳng hạn)</p>
                            <p>Không gửi hoặc chuyển đến trang Web và/hoặc thiết bị hoặc tới bất kỳ người sử dùng nào khác những tài liệu phi pháp, có tính chất quấy rối, lăng mạ, đe dọa, phỉ báng, bôi nhọ, tục tĩu, khiếm nhã, khích động, phân biệt chủng tộc hoặc tôn giáo, khiêu dâm; hoặc bất kỳ tài liệu nào có thể tạo thành hoặc khuyến khích hành vi có thể bị coi là phạm tội, tăng trách nhiệm dân sự, hoặc có thể phạm luật.</p>
                            <p>quý khách không phải là cán bộ, giám đốc, nhân viên, tư vấn, cộng tác viên hay đặc vụ của Fun88 hay bất kỳ công ty nào có liên quan đến Fun88, hoặc là người nhà hoặc người thân của những người đã kể ở trên.</p>
                            <p>Không can thiệp vào việc sử dụng Dịch vụ, trang Web, phần mềm, thiết bị và/hoặc thông tin của những người sử dụng khác và/hoặc tham gia vào các cuộc khảo sát, cuộc thi, thư chuyền tay hay gửi/chuyển thư rác, hoặc tự nguyện phát tán thư điện tử một cái rộng rãi</p>
                            <p>Không gửi tiền thông qua thẻ tín dụng hoặc thẻ ghi nợ mà khách hàng không được phép sử dụng hoặc cố ý nhận tiền từ thẻ này hoặc bất kỳ hành động thông đồng với bên thứ ba để thực hiện Điều này</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">6. Đăng Ký và Mở Tài Khoản Cá Cược và Tư Cách Thành Viên </h3>
                            <p>Để chơi và cá cược với Fun88 và sử dụng các Dịch vụ, quý khách phải hoàn thành thủ tục xin mở tài khoản mới và làm thành viên theo cách đã được đưa ra trên trang Web (Đơn đăng ký thành viên).</p>
                            <p>quý khách đại diện và cam đoan rằng tất cả các thông tin quý khách cung cấp khi đăng ký và hoàn tất thủ thục xin làm thành viên là chính xách, chân thực và đầy đủ về mọi khía cạnh bao gồm tên quý khách trên Đơn xin làm thành viên ("Tên"), nguồn quỹ (bao gồm tài khoản ngân hàng và số thẻ tương ứng), bất kỳ địa chỉ email hoặc số điện thoại quý khách cung cấp và địa chỉ cư trú của quý khách.</p>
                            <p>Chúng tôi sẽ có những biện pháp thỏa đáng và thích hợp để đảm bảo rằng những thông tin cá nhân mà quý khách tiết lộ cho chúng tôi sẽ được giữ bí mật. Chúng tôi sẽ không báo cáo hay tiết lộ những thông tin cá nhân của quý khách hay các thông tin cá cược của quý khách trừ khi chúng tôi bị buộc phải làm vậy theo quy định của luật hiện hành, lệnh của Tòa án, hoặc các cơ quan thi hành luật, hay các Điều kiện và Điều khoản. Trách nhiệm của riêng quý khách là phải giữ bí mật về các thông tin cá nhân của mình. Chúng tôi có quyền tiết lộ và chuyển thông tin cá nhân của quý khách tới các nhà cung cấp dịch vụ giải quyết thanh toán của chúng tôi và các tổ chức tài chính ở một chừng mực nào đó cần thiết cho việc hoàn tất các thanh toán cho các dịch vụ do trang Web của chúng tôi cung cấp, hoặc nếu buộc phải làm vậy do luật và quy định áp dụng với các trò chơi tưng ứng hoặc các cơ quan thi hành luật.</p>
                            <p>Trách nhiệm của riêng quý khách là phải đảm bảo rằng luật áp dụng cho quý khách không cấm quý khách sử dụng và truy cập vào trang Web và thông tin chứa trên đó, tải về và cài đặt phần mềm và/hoặc sử dụng và tham gia vào các Dịch vụ.</p>
                            <p>Chúng tôi có thể yêu cầu có thêm bằng chứng về nhận dạng và độ tuổi của quý khách để kiểm chứng Đơn xin làm thành viên của quý khách (ví dụ, ảnh nhận dạng hợp lệ và thẻ tín dụng/thẻ nợ). Nếu có bất kỳ thay đổi nào đối với các thông tin chi tiết của quý khách mà quý khách cung cấp ban đầu, quý khách sẽ phải thông báo cho chúng tôi ngay. Để xác nhận tên và địa chỉ của quý khách, Fun88 có quyền, không kể những cái khác, xác nhận tên và địa chỉ của quý khách qua đường bưu điện. Fun88 có toàn quyền quyết định, tiến hành kiểm tra an ninh thêm đối với các thông tin mà quý khách cung cấp. Bằng việc đồng ý với những Điều kiện và Điều khoản này, quý khách đồng ý cho Fun88 truy cập, xử lý, sử dụng và lưu lại các kết quả của bất kỳ sự nhận dạng kiểm chứng nào hay các cuộc kiểm tra mà có thể chống lại quý khách.</p>
                            <p>Chúng tôi có quyền từ chối Đơn Xin Làm Thành Viên của quý khách mà không cần phải tham khảo ý kiến của quý khách hay giải thích lý do</p>
                            <p>quý khách được phép mở duy nhất một tài khoản cá cược tại Fun88. Nếu chúng tôi phát hiện ra rằng quý khách có hơn một tài khoản tại Fun88, chúng tôi có toàn quyền quyết định, coi tất cả các tài khoản mà quý khách có với Fun88 như một tài khoản chung đơn lẻ, kết thúc hoạt động của các tài khoản khác và/hoặc chấm dứt Thỏa thuận với quý khách.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase"> 7. Đặt Cược và Quy Trình Chấp Nhận Đặt Cược </h3>
                            <p>Chúng tôi chấp nhận những cược đặt cho các trò chơi, thể thao hoặc các sự kiện khác được quảng cáo trên trang web và/hoặc những Thiết bị từ thời gian này đến thời gian khác. Tất cả các cược đều phụ thuộc vào những quy định của Nhà Cái cho mỗi sự kiện hoặc trò chơi, và những Điều khoản và Điều kiện. Nếu có lỗi hệ thống hoặc bất lỗi nào xảy ra hoặc người chơi không được thông báo chính xác trong một sự kiện, tất cả cược đặt trong sự kiện đó sẽ bị hủy. Trong bất kỳ sự kiện nào mà hệ thống Fun88 bị lỗi, giao dịch không thành công hoặc các sự cố kỹ thuật hoặc gian lận nghi ngờ, Fun88 có quyên hủy bất kỳ và/hoặc tất cả các cược đặt.</p>
                            <p>Bất kể các khoản nào trong các Điều kiện và Điều khoản này, Fun88 có toàn quyền quyết định, từ chối tất cả, hoặc một phần của bất kỳ đặt cược nào mà không cần giải thích lý do.</p>
                            <p>Chúng tôi chỉ chấp nhận đặt cược qua mạng internet và/hoặc các thiết bị phù hợp với những Điều kiện và Điều khoản này. Các đặt cược không được chấp nhận dưới bất kỳ hình thức nào khác (dù là qua bưu điện, thư điện tử, fax hay hình thức khác) và ở bất kỳ nơi nào nhận được sẽ không có hiệu lực dù kết quả ra sao.</p>
                            <p>Theo như các Điều khoản khác ghi ở đây, các khoản cược sẽ có hiệu lực nếu tên và mã số của quý khách được nhập đúng, tùy thuộc vào việc tài khoản của quý khách có đủ tiền không.</p>
                            <p>quý khách có trách nhiệm và nghĩa vụ với tất cả các hoạt động và giao dịch diễn ra thông qua việc sử dụng bất kỳ mục nào trong các mục dưới đây (hoặc bất kỳ sự kết hợp nào của những mục đó)</p>
                            <p>Tên quý khách</p>
                            <p>Số tài khoản của quý khách</p>
                            <p>Tên sử dụng và mật mã của quý khách, bất kể việc sử dụng những mục trên có được quý khách cho phép hay không.</p>
                            <p>Trách nhiệm của riêng quý khách là phải đảm bảo rằng những thông tin về các lần đánh cược phải đúng và quý khách hiểu rằng các Điều khoản của đăng ký cá cược bao gồm bất kỳ các quy tắc áp dụng đối với cá cược trước khi quý khách xác nhận đặt cược và trong vấn đề này quý khách có thể xem lại cược đặt của mình tránh sai sót trước khi chuyển đến chúng tôi. Chiếu theo những Điều khoản khác ở đây, một khi quý khách đặt cược và chúng thôi xác nhận chấp nhận đặt cược của quý khách, quý khách sẽ không thể hủy, thu hồi hay thay đổi đặt cược được nữa và sẽ được coi là bằng chứng kết luận về các cá cược quý khách đã đặt.</p>
                            <p>Cần chú ý rằng tất cả các đặt cược được ghi và lưu lại trong cơ sở dữ liệu giao dịch. Sổ giao dịch của Fun88 sẽ chính là bằng chứng kết luận về tất cả các giao dịch và thời điểm mà giao dịch được thực hiện.</p>
                            <p>Không một vụ cá cược nào được phép sau bất kỳ thời gian cuối cùng do chúng tôi quy định, khi sự kiện bắt đầu và/hoặc khi kết quả của sự kiện được biết ở thời điểm quý khách đặt cược. Nếu bất kỳ sự kiện nào bị để nhầm cho đặt cược sau khi sự kiện bắt đầu và/hoặc kết quả của sự kiện được biết, Fun88 có quyền từ chối hoặc vô hiệu hóa những đặt cược đó mà không cần tham khảo ý kiến của quý khách. Việc chấp nhận bất kỳ đặt cược nào hay bất kỳ phần nào sẽ do Funn88 toàn quyền quyết định. Để tránh nghi ngờ, Điều khoản này không cấm các đặt cược trong giờ hoặc nửa hiệp mà Fun88 cho phép</p>
                            <p>Thời gian bắt đầu sự kiện được đăng trên trang Web chỉ phục vụ cho mục đích thông tin mà thôi. Nếu vì bất kỳ lý do gì mà đặt cược tình cờ được Fun88 chấp nhận sau khi một sự kiện hay một trận đấu bắt đầu không rơi vào thời gian "trong trận" hoặc "nghỉ giữa hiệp", Fun88 có quyền hủy bỏ hoặc vô hiệu hóa đặt cược đó.</p>
                            <p>Trừ khi có các tuyên bố khác trong các quy tắc cho mỗi môn thể thao và các sự kiện, kết quả của một trận đấu hoặc sự kiện sẽ được giải quyết ngay trong ngày để xác định việc đánh cược.Bất cứ yêu cầu tiếp theo đó có thể dẫn tới một quyết định đảo ngược sẽ không được Fun88 công nhận và kết quả ban đầu của cược sẽ được giữ nguyên.</p>
                            <p>Nếu địa điểm diễn ra sự kiện thể thao bị thay đổi, tất cả các đặt cược dựa trên địa điểm ban đầu sẽ do Fun88 toàn quyền quyết định để hủy bỏ.</p>
                            <p>Người chiến thắng trong một sự kiện hay một trò chơi sẽ được quyết định vào ngày kết thúc sự kiện theo các Luật Cá Cược Nhà Cái.</p>
                            <p>Fun88 không công nhận các trò chơi bị treo lại, kháng nghị hay các quyết định lật ngược vì mục đích cá cược.</p>
                            <p>Nếu quý khách đã lựa chọn một cá cược không có giá trị trong một cá cược hỗn hợp, cá cược sẽ chỉ được thanh toán dựa trên các cá cược hợp lệ còn lại.</p>
                            <p>quý khách thừa nhận rằng bất kỳ và tất cả các tỉ lệ đánh cược chuẩn, hàng và tỉ lệ chấp có thể thay đổi mà không cần thông báo, và các tỉ lệ cược nêu trên sẽ có thể cố định tại thời điểm chúng tôi chấp nhận cược.</p>
                            <p>Khi có một lỗi hoặc sai sót rõ ràng hoặc sự cố hệ thống phát sinh từ Fun88 gây ra tỉ lệ cược , các hàng và tỉ lệ chấp không đúng, khoản đặt cược hoặc một phần của khoản đặt cược trong hỗn hợp đặt cược tại Fun88 sẽ không có giá trị.Các lỗi hoặc sai sót hoặc sự cố nêu trên sẽ được sửa chữa kịp thời, Fun88 có thể toàn quyền quyết định (nhưng không phải nghĩa vụ) nỗ lực để liên lạc với quý khách để cho phép lựa chọn lần đặt cược khác với các tỉ lệ cược, các hàng và tỉ lệ chấp đúng.</p>
                            <p>Chúng tôi không chấp nhận bất kỳ những đặt cược nào đồng thời cho một sự kiện từ phía quý khách.</p>
                            <p>Về việc đặt cược và những giao dịch có liên quan, quyết định của Fun88 là quyết định cuối cùng và có tính chất quyết định.</p>
                            <p>Khi quý khách muốn đặt cược bằng tiền VND, quý khách vui lòng lượt bỏ ba (3) số 0 trong số tiền muốn đặt cược. Các cược sẽ được tính theo bội số của 1000. Vui lòng tham khảo ví dụ bên dưới:</p>
                            <p><img src="/InfoCenter/images/vi-VN/idr table vn.jpg" alt="" width="383" height="97"></p>
                            <p>Khi người chơi nhập khoản đặt cược theo luật được đề cập ở trên, hệ thống sẽ tự động nhận biết ba (3) số không và cộng vào khoản tiền đặt cược để xác nhận đúng số tiền đặt cược mà người chơi mong muốn.</p>
                            <p>Khách hàng phải đăng ký cược đặt của mình theo cá nhân Các yêu cầu lặp lại có sự lựa chọn tương tự từ các Khách Hàng giống nhau hoặc khác nhau mà chúng tôi tin rằng có sự gian lận hoặc là một phần của tổ hợp và / hoặc các yêu cầu đặt cược trùng hoặc tương tự được đăng ký trong một quãng thời gian ngắn)</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase"> 8. Chứng Chỉ Phần Mềm </h3>
                            <p>Bằng cách này quý khách thừa nhận và đồng ý rằng phầm mềm giúp quý khách truy cập từ xa (bằng cách tải về hoặc cách khác) vào trang Web thông qua thiết bị của quý khách là một phần của dịch vụ và là tài sản của Fun88 và/hoặc của những người cấp phép cho chúng tôi, và quý khách không có bất kỳ quyền gì để chống lại với phần mềm đó. quý khách không thể bằng bất cứ cách nào bắt chước, sao chép, sửa đổi, tái sử dụng, lưu trữ, phân phát, trưng bày, thực hiện công khai, phát sóng, bao gồm truyền hình cáp, xuất bản, truyền tải, bán,thuê, cho thuê, cho thuê giấy phép hoặc chuyển phần mềm đến tay một người khác, hay trên trang Web khác, dịch vụ trực tuyến hoặc bảng điện tử, hoặc bất kỳ phương tiện thông tin và thiết bị nào khác.</p>
                            <p>Fun88 theo đó cung cấp cho quý khách một giấy phép cá nhân, không độc quyền, không chuyển đổi được và có thể bị hủy bỏ để cài đặt và sử dụng phần mềm trên thiết bị của quý khách ("giấy phép") với quy định là việc cài đặt và sử dụng phải được thực hiện qua một thiết bị mà quý khách là người sử dụng chính.</p>
                            <p>Phần mềm được cấp phép và phân phối bởi Fun88 chỉ dành riêng cho mục đích cho phép người sử dụng cuối của phần mềm được truy cập và sử dụng Dịch vụ một cách đầy đủ.</p>
                            <p>quý khách không được phép :</p>
                            <p>Cài đặt hay tải phần mềm về máy chủ của thiết bị nối mạng khác hay có những hành động khác để làm cho phần mềm này có thể tiếp cận được thông qua bất kỳ hình thức nào hay qua bảng điện tử, dịch vụ trực tuyến, quay số từ xa hay qua mạng với bất kỳ người nào khác;</p>
                            <p>Phân phối, thuê, cho thuê, cấp giấy phép phụ, sao chép, chuyển giao, giao phó hay bằng cách khác làm cho phần mềm và/hoặc giấy phép sử dụng phần mềm có thể tới tay một người khác;</p>
                            <p>cho phép bất kỳ người nào khác sử dụng phần mềm;</p>
                            <p>tạo ra hay cung cấp bất kỳ cách nào (bao gồm nhưng không hạn chế thông qua những đối thủ) mà qua đó có thể giúp những người khác sử dụng phần mềm.</p>
                            <p>biên dịch, đảo lộn máy móc, dịch ngược, tháo rời, sửa đổi, khám phá, sáng tạo những sản phẩm phát sinh dựa trên toàn bộ hay một phần của Phần mềm và/hoặc mã nguồn của phần mềm; hoặc</p>
                            <p>sao chép, sửa đổi, biên dịch hay sáng tạo ra bất kỳ một sản phẩm phát sinh nào dựa trên toàn bộ hay một phần về tư liệu của người sử dụng có liên quan đến Phần mềm.</p>
                            <p>quý khách thừa nhận và đồng ý rằng phần mềm và tư liệu về người sử dụng phần mềm được cung cấp trên trang Web và/hoặc thông qua thiết bị hay những cách khác, là thuộc sở hữu của Fun88 và/hoặc những người cấp phép cho chúng tôi, và được bảo vệ bằng luật bản quyền, quyền thương hiệu và những hình thức khác của luật sở hữu trí tuệ và tài sản. Bằng cách này quý khách thừa nhận rằng cấu trúc, tổ chức và mã nguồn của phần mềm là bí mật thương mại có giá trị của Fun88 và những người cấp phép cho chúng tôi. Theo đó, quý khách phải thừa nhận rằng quý khách phải lưu giữ các quyền đã cấp cho quý khách, quý khách không được yêu cầu bất kỳ quyền hay lợi ích nào với phần mềm và/hoặc tư liệu về người sử dụng phần mềm.</p>
                            <p>Ngay khi chấm dứt Thỏa thuận vì bất kỳ lý do nào, Giấy phép được cấp dưới Thỏa thuận này tự động bị hủy bỏ và quý khách sẽ ngừng sử dụng phần mềm và quý khách sẽ tháo cài đặt phần mềm ra khỏi Thiết bị của quý khách.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">9. Giải quyết các giao dịch </h3>
                            <p>Khi sử dụng thẻ tín dụng hay thẻ nợ, tên của chủ thẻ phải trùng với Tên. Fun88 có quyền không giải quyết một giao dịch trong trường hợp tên của chủ thẻ và Tên không giống nhau.</p>
                            <p>quý khách hoàn toàn chịu trách nhiệm thanh toán tất cả các khoản tiền quý khách nợ Fun88 và/hoặc những người chơi khác (nếu có). Về việc thanh toán của quý khách, quý khách phải đồng ý rằng quý khách sẽ không làm hoặc không tìm cách để làm bất kỳ khiếu nại nào và/hoặc từ chối hay đảo ngược bất kỳ thanh toán nào, quý khách sẽ bồi hoàn lại cho Fun88 về những khoản phí khiếu nại, từ chối hay đảo ngược thanh toán cũng như là những tổn thất gặp phải hay những chi phí mà Fun88 phải chịu từ những việc làm đó. Fun88 có thể, toàn quyền quyết định, chấm dứt cung cấp dịch vụ hay thanh toán cho một số người sử dụng hay những người sử dụng thanh toán bằng thẻ tín dụng hay thẻ nợ.</p>
                            <p>Khoản thắng cược tối đa Fun88 thanh toán cho bất kỳ thành viên nào được chấp nhận trên Cá Cược Thể Thao sẽ hạn chế tại GBP£100,000 (hoặc tương đương) cho mỗi lần cược hay mức thanh toán tối đa cho những kiểu cược riêng lẻ thấp hơn. Tiền cược tối đa thay đổi tùy theo các danh sách cược nhỏ được cung cấp trên Dịch Vụ và có thể thay đổi mà không báo trước , nhưng trong mọi trường hợp sẽ không vượt qua số tiền có sẵn trong tài khoản của quý khách</p>
                            <p>Số tiền thắng cược của quý khách không bao gồm số tiền quý khách đã cá cược và Điều này sẽ được xem xét khi quý khách đặt cược.</p>
                            <p>Tất cả số tiền thắng cược của quý khách sẽ được ghi vào trong tài khoản của quý khách. Fun88 sẽ không chịu trách nhiệm hay cam đoan với quý khách về bất kỳ nguồn quỹ/số tiền thắng cược được ghi trong tài khoản của quý khách mà bị lỗi, và Fun88 có quyền vô hiệu hóa bất kỳ giao dịch nào có liên quan đến những nguồn quỹ đó, dù ở thời điểm đó hay trước đó . Nếu nguồn quỹ được ghi vào tài khoản của quý khách mà bị lỗi, quý khách phải có trách nhiệm thông báo cho Fun88 ngay lập tức và các khoản tiền không được quý khách sử dụng và chúng tôi có quyền rút các khoản tiền đó và vô hiệu bất kỳ giao dịch sử dụng chúng – Tiền cược vào một tài khoản sẽ không được chuyển sang một tài khoản khác</p>
                            <p>Việc trả thuế, chi phí, các khoản phí có thể áp dụng đối với số tiền thắng cược của quý khách dưới luật hiện hành là trách nhiệm của riêng quý khách.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">10. Nhận tiền thắng cược </h3>
                            <p>Số tiền thắng cược của quý khách từ những cá cược đã thực hiện xong được ghi có vào tài khoản của quý khách và sẽ được rút ra dựa theo chính sách rút tiền và ngay khi gửi một bản sao giấy nhận dạng bằng hình ảnh và/hoặc thẻ tín dụng/thẻ nợ mà chúng tôi cảm thấy thỏa đáng.</p>
                            <p>Ở những nơi mà nhà phát hành thẻ của quý khách cho phép, số tiền thắng cược của quý khách có thể ghi có vào tài khoản thẻ tín dụng hay thẻ nợ được sử dụng để đặt tiền gửi ban đầu. Một tấm séc hay một bức điện tín ngân hàng sẽ được phát hành dưới Tên, và ở những nơi tiền gửi được thực hiện bằng thẻ tín dụng hay thẻ nợ, Tên này cũng phải trùng với tên của chủ thẻ đã được đăng ký.</p>
                            <p>Số tiền đặt cược nhất định phải gấp 1 lần số tiền đặt cọc mới được quyền rút khoản, Fun88 có quyền lợi lệ phí đặt cọc và rút khoản.</p>
                            <p>Tất cả các phí ngân hàng mà Fun88 phải chịu xuất phát từ hoặc có liên quan với bất kỳ một giao dịch cá cược nào của quý khách sẽ do quý khách thanh toán và bồi hoàn và Fun88 có quyền khấu trừ và bù vào những khoản trên từ số tiền quý khách thắng cược khi trả cho quý khách hoặc từ tài khoản của quý khách (nếu có).</p>
                            <p>FUN88 không thực hiện thông báo quý khách có một số dư nợ trong tài khoản để thu thập . Nếu quý khách không đặng nhập vào tài khoản và sử dụng các dịch vụ trên trang web trong vòng 365 ngày , tài khoản của quý khách được xem như không hoạt động . Chúng tôi có quyền thu phí hành chính định kì trong giai đoạn mà tài khoản của quý khách không hoạt động và đặt ra phí như vậy đến mức vượt quá số dư tài khoản của quý khách . Nếu một tài khoản không hoạt động , chúng tôi sẽ cố gắng liên lạc với chủ tải khoàn qua điện thoại , email hoặc các phương tiện khác , sử dụng các thông tin khi khách hàng đăng ký . Nếu không được chúng tôi sẽ dùng các cách khác để liên lạc với chủ tải khoản . Nếu các nỗ lực liên hệ với khách hàng không thành công trong 12 tháng từ ngày tài khoản được xem "không hoạt động", bất kỳ các giao dịch trong tài khoản được lưu trữ và chúng tôi có quyền đóng tải khoản và chỉ định các giao dịch đó cho các tổ chức cờ bạc xử lý</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">11. Khuyến mãi và tiền thưởng  </h3>
                            <p>Tất cả các chương trình khuyến mại, thưởng hay những đãi ngộ đặc biệt phải tuân theo các Điều kiện và Điều khoản này và bất cứ Điều kiện và Điều khoản nào dành riêng cho khuyến mại mà Fun88 có thể đưa ra tùy từng thời điểm có liên quan đến những Điều trên. Fun88 có quyền treo, rút hay sửa đổi việc thưởng hay khuyến và/hoặc những Điều kiện và Điều khoản cụ thể chi phối các hoạt động này vào bất cứ lúc nào.</p>
                            <p>Nếu Fun88 cho rằng một người sử dụng đang lợi dụng hay đang cố tình lợi dụng việc thưởng hay khuyến mại, hoặc có vẻ thu được lợi từ việc lạm dụng đó, thì Fun88 có thể, theo ý muốn của mình, ngăn chặn, từ chối, treo, giữ lại, thu lại hoặc rút bất kỳ người sử dụng nào ra khỏi chương trình thưởng hay khuyến mại theo cách mà chúng tôi thấy phù hợp.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">12. Miễn trách nhiệm </h3>
                            <p>quý khách phải đồng ý miễn trách nhiệm cho Fun88, các cổ đông, nhân viên, quan chức, giám đốc, người được cấp phép, nhà phân phối, cộng tác viên, công ty con và các đại lý của chúng tôi về bất kỳ tổn thất, tổn hại hay khiếu kiện (bao gồm phí theo kiện) xảy ra đối với quý khách do hậu quả của việc quý khách truy cập trang Web, tải về hay cài đặt phần mềm, cá cược và/hoặc việc sử dụng các dịch vụ, phần mềm và/hoặc thông tin, và/hoặc bởi bất kỳ sự vi phạm nào đối với những Điều kiện và Điều khoản này và/hoặc các Luật cá cược Nhà cái.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">13. Tuyên Bố Từ Chối và Những Cảnh Báo Cụ Thể </h3>
                            <p>Việc cá cược hoàn toàn là do ý muốn, phán đoán và rủi ro của riêng quý khách. Bằng cách đó, quý khách thừa nhận rằng quý khách không thấy các dịch vụ, trang web và thông tin có tính công kích, đáng chê trách, thiếu công bằng hay không nghiêm chỉnh. Một số đạo luật không đề cập đến tính hợp pháp của các hoạt động đánh bạc trực tuyến và từ xa trong khi nhiều đạo luật khác lại ghi rõ đánh bạc trực tuyến là phạm pháp. Chúng tôi không có ý là ai cũng nên sử dụng và truy cập vào các trang web, thông tin, và/hoặc các dịch vụ mà ở đó việc truy cập và sử dụng như vậy là bất hợp pháp. Các Dịch Vụ, Thông tin cung cấp và (các) Website không thể được coi là một mời chào, sự vận động hay khuyến khích bởi chúng tôi hay việc truy nhập đã nêu trước vào bất kỳ nước nào đươc coi là bất hợp pháp. Việc tuân thủ với các Điều luật nào hợp với quý khách là trách nhiệm của riêng quý khách và Fun88 không đại diện cho bất kỳ Điều gì về Dịch vụ, Phần mềm, Trang Web hoặc thông tin mà thực hiện theo luật áp dụng cho quý khách.</p>
                            <p>Dịch vụ, phần mềm, trang Web hay thông tin được cung cấp trên cơ sở "thực tế". Như đã nêu rõ trong các Điều kiện và Điều khoản, Fun88 không chịu trách nhiệm hay cam đoan dưới bất kỳ hình thức nào đối với các dịch vụ, trang web, phần mềm và thông tin chứa đựng ở đó. Trong phạm vi tối đa cho phép của pháp luật, bất kỳ đại diện hoặc sự đảm bảo nào, dù rõ ràng hay ám chỉ, do pháp luật ấn định hay bất kỳ Điều gì khác đối với Dịch vụ, phần mềm, trang web và thông tin đều theo hướng loại trừ. Fun88 không cam đoan rằng dịch vụ, phần mềm, trang web hay thông tin là chính xác, đúng thời điểm, an toàn, không bị gián đoạn, không có lỗi, không bị những can thiệp từ bên ngoài, bất kỳ lỗi nào phát hiện ra cũng đều được sửa. Fun88 không cam đoan rằng dịch vụ, phần mềm, trang web và thông tin hay máy chủ sẽ không bị vi rút, phần mềm gián điệp, phần mềm nhiễm vi rút, hay những đoạn mã , chương trình, dữ liệu hay các lệnh có tính ác ý, phá hoại và bẩn hay bất kỳ các đặc điểm khác mà có thể ảnh hưởng đến bất kỳ thiết bị nào và/hoặc thông tin chứa đựng trong đó. quý khách phải chịu trách nhiệm cảnh giác để đảm bảo rằng các quy trình, biện pháp và/hoặc thiết bị mà quý khách dung để sử dụng và truy cập dịch vụ, cài đặt phần mềm và sử dụng trang web không đẩy quý khách đứng trước nguy cơ bị virut máy tính, phần mềm gián điệp và phần mềm nhiễm vi rú thay những đoạn mã có tính ác ý, phá họai và bẩn hay bất kỳ hình thức can thiệp và phá hoại nào đối với thiết bị của quý khách và các dữ liệu chứa đựng trong đó.</p>
                            <p>Trong trường hợp lỗi hệ thống hay lỗi liên lạc có liên quan tới việc thanh toán tài khoản hay bất kỳ yếu tố nào khác của Dịch vụ, Fun88 sẽ không chịu trách nhiệm do những lỗi như vậy gây ra và Fun88 có quyền vô hiệu hóa tất cả các đặt cược bị ảnh hưởng bởi lỗi đó và sẽ sẽ tiến hành sữa chữa những lỗi đó.</p>
                            <p>Fun88 sẽ không chịu trách nhiệm trong bất kỳ trường hợp nào với bất kỳ tổn hại, tổn thất hay chi phí bao gồm sư gián đoạn và tổn hại gây ra cho thiết bị của quý khách hay dữ liệu chứa trong đó có liên quan tới việc truy cập, sử dụng hay tham gia vào dịchvụ, trang web, phần mềm và thông tin. Fun88 hoàn toàn từ bỏ bất kỳ và tất cả những bảo đảm, cam đoan và trách nhiệm có liên quan tới bất kỳ khía cạnh nào của Dịch vụ, trang web, phần mềm và thông tin, mà có thể do những bên thứ ba cung cấp, bao gồm nhưng không giới hạn ở các nhà cung cấp dịch vụ băng truyền rộng và dịch vụ viễn thông, và sẽ không chịu trách nhiệm cho bất kỳ những thiếu sót, vi phạm hay không hoạt động của các đối tác bên thứ ba.</p>
                            <p>Fun88, các doanh nghiệp có liên quan, cộng tác viên, quan chức, nhân viên và đại lý của chúng tôi sẽ không chịu trách nhiệm hay nghĩa vụ trong bất kỳ trường hợp nào đối với bất kỳ tổn hại, tổn thất hay chi phí nào bao gồm nhưng không giới hạn ở những tổn hại trực tiếp,gián tiếp, đặc biệt hay những tổn thất về mặt kinh tế phát sinh từ trong mỗi liên quan tới việc sử dụng hoặc truy cập các dịch vụ, trang web, phần mềm và thông tin, hay việc tải, cài đặt hoặc sử dụng phần mềm bất kể F88 có khuyến cáo làm như vậy hay không. Trong phạm vi tối đa cho phép của pháp luật, nghĩa vụ của Fun88 đối với quý khách, nếu có, về tổn thất hay tổn hại (dù trên cơ sở hợp đồng, sai lầm cá nhân, nghĩa vụ nghiêm ngặt hay những Điều khác) liên quan đến, hay bắt nguồn từ bất kỳ hoặc tất cả các vấn đề, sự kiện hoặc tình huống gắn trực tiếp với bất kỳ đặt cược nào của quý khách với chúng tôi, sẽ không vượt quá số tiền đặt cược tương ứng của quý khách.</p>
                            <p>quý khách thừa nhận rằng một phần hay toàn bộ thông tin có thể là tạm thời về mặt bản chất và có thể xem xét, thay đổi và sửa đổi, như đã cung cấp trong các Điều kiện và Điều khoản này. Do đó quý khách phải thừa nhận rằng thông tin chỉ được cung cấp cho mục đích tham khảo và không cấu thành một lời khuyên hay xúi giục, và sẽ không tạo thành cơ sở của bất kỳ sự cam đoan ràng buộc, bảo đảm, nghĩa vụ hợp đồng từ Fun88 hay sự tin cậy từ phía quý khách về bất cứ khía cạnh nào.</p>
                            <p>Bằng cách này, quý khách thừa nhận và đồng ý rằng mọi việc từ bỏ và loại trừ nghĩa vụ viết trong các Điều kiện và Điều khoản này tượng trưng cho một sự phân phối công bằng và hợp lý các rủi ro cũng như lợi ích của thỏa thuận giữa quý khách và Fun88, đưa tất cả các yếu tố liên quan vào xem xét bao gồm nhưng không hạn chế ở giá trị của việc xem xét mà quý khách cung cấp cho Fun88. quý khách phải đồng ý thêm rằng những sự từ bỏ và giới hạn này sẽ có hiệu lực tốt đa và pháp luật hiện hành cho phép.</p>
                            <p>Nếu quý khách có bất kỳ tranh chấp nào liên quan đến kết quả của trò chơi hay sự kiện, quý khách phải viết văn bản và gửi về cho chúng tôi tại địa chỉ được đưa ra trong phần Danh bạ của các website trong vòng mười bốn (14) ngày kể từ ngày có kết quả của trò chơi hay sự kiện đó. Trong trường hợp không có sự thống nhất giữa kết xuất hiện trên thiết bị của quý khách và kết quả trong cơ sở dữ liệu giao dịch trong hệ thống của chúng tôi, quý khách phải đồng ý rằng các kết quả trong cơ sở dữ liệu giao dịch trong hệ thống của chúng tôi như đã được chứng nhận bởi Trưởng Phòng Công nghệ sẽ là chứng cứ quyết định cuối cùng và không thể chối cãi được của những kết quả đó. Fun88 khuyến khích quý khách giữ một bản lưu trữ các giao dịch với chúng tôi, chẳng hạn các xác nhận cược và các bản lưu gửi và rút tiền. quý khách cũng cần lưu ý các quy tắc của chúng tôi và bất kỳ các thay đỗi tiếp theo. Nếu chúng tôi không thể giải quyết được giao dịch của quý khách, quý khách có thể tham khảo vấn đề tại gaming@gov.im</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">14. Chấm Dứt, Đóng Tài Khoản hay Treo Dịch Vụ </h3>
                            <p>Ngoài những quyền khác mà Fun88 có theo thỏa thuận này, Fun88 còn có toàn quyền quyết định trong việc vô hiệu hóa mọi số tiền thắng cược và tịch thu số dư trong tài khoản cá cược của quý khách, chấm dứt thỏa thuận và/hoặc treo cung cấp dịch vụ/làm mất chức năng hoạt động và/hoặc đóng tài khoản của quý khách nếu Fun88 có những cơ sở hợp lý để tin rằng hay có minh chứng của bất kỳ Điều nào trong những Điều sau:</p>
                            <p>quý khách có hơn một tài khoản đang hoạt động với Fun88</p>
                            <p>Tên không trùng với tên trên thẻ tín dụng hay thẻ nợ hay những tài khoản thanh toán khác được sử dụng để mua bán và gửi tiền với Fun88.</p>
                            <p>quý khách tham gia vào chương trình khuyến mại của Fun88 và rút tiền trước khi hoàn thành mọi yêu cầu của chương trình khuyến mại cụ thể đó.</p>
                            <p>quý khách cung cấp thông tin đăng ký sai hoặc nhầm lẫn.</p>
                            <p>quý khách không cung cấp được hay sao nhãng việc cung cấp thông tin nhận dạng theo yêu cầu.</p>
                            <p>quý khách không đủ Tuổi Hợp Pháp.</p>
                            <p>quý khách truy cập và tham gia vào Dịch vụ từ một nền pháp lý quy định việc tham gia các dịch vụ này là bị pháp luật cấm.</p>
                            <p>quý khách đòi lại tiền hay gây ra việc đòi lại tiền chống lại chúng tôi hay từ chối bất kỳ giao dịch nào hay khoản tiền gửi nào quý khách thực hiện tới tài khoản của quý khách.</p>
                            <p>quý khách đang gửi tiền có nguồn gốc từ các hoạt động tội phạm, phi pháp hay trái phép;</p>
                            <p>quý khách bị phát hiện gian lận hay cố ý gian lận hoặc đã gian lận với bất kỳ ai đó hoặc một bên nào đó, hoặc nếu Fun88 kết luận rằng quý khách đã sử dụng hay sử dụng tình báo nhân tạo hay các hệ thống khác (bao gồm máy móc, máy tính, phần mềm và những hệ thống máy tự động nào khác) được thiết kế đặc biệt để đánh bại hệ thống hoặc quý khách bị phát hiện đã thông đồng hay cố tình thông đồng với những người chơi khác nhằm lừa gạt Fun88 (hoặc các người chơi khác tùy từng trường hợp).</p>
                            <p>quý khách cho phép (vô tình hay cố ý) ai đó sử dụng tài khoản của quý khách;</p>
                            <p>quý khách không tuân thủ bất kỳ Điều kiện và Điều khoản sử dụng nào được thiết lập trong thỏa thuận này; hoặc</p>
                            <p>quý khách không cho biết quý khách đang ở Philippines, Đức, Hoa Kỳ, Thổ Nhĩ Kỳ, Singapore, Malaysia, Đài Loan hoặc khu vực lãnh thổ nào khác vì thế chúng tôi có thể xác định theo thời gian.</p>
                            <p>Nếu việc cung cấp dịch vụ bị treo và/hoặc tài khoản của quý khách bị ngưng hoạt động theo Điều 14.1 ở trên, việc cung cấp dịch vụ sẽ chỉ được phục hồi và/hoặc tài khoản của quý khách sẽ được kích hoạt trở lại sau khi quý khách có các hành động sửa chữa (nếu có khả năng sửa chữa) và việc sửa chữa đó phải được chúng tôi kiểm tra và làm chúng tôi hài lòng.</p>
                            <p>FUN88 có quyền đóng tài khoản khách hàng và hoàn trả lại số dư tài khoản của họ mà không cần thông báo trước. Theo các Điều Khoản và Điều Kiện các cược đặt còn dư nợ sẽ được tiến hành trước. Hơn nữa chúng tôi có quyền treo toàn bộ hoặc một phần các Dịch Vụ vì bất kỳ lý do nào và trong trường hợp này chúng tôi không thông báo trước cho quý khách</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">15. Kết Nối Tới Các Trang Web Ngoài </h3>
                            <p>Trang web có thể chứa những đường kết nối tới các trang web bên ngoài mà không do Fun88 duy trì. Các kết nối tới những trang web bên ngoài được cung cấp vì sự tiện lợi của quý khách , và Fun88 không chịu trách nhiệm và không cam đoan hay đảm bảo rằng nội dung của những kết nối đó là chính xác, cập nhật và xác thực.</p>
                            <p>Fun88 không chịu trách nhiệm hay nghĩa vụ, không cung cấp và kiểm tra, không tán thành hay ép buộc, và không cam đoan hay đảm bảo về nội dung hay việc sử dụng các trang web bên ngoài của từng cá nhân, bất kỳ sản phẩm hay dịch vụ nào được quảng cáo, bán hay sẵn có trên những trang web ngoài đó.</p>
                            <p>Fun88 sẽ không có nghĩa vụ trong hợp đồng, sai lầm, sơ suất hay những Điều khác về bất cứ tổn thất hoặc tổn hại nào phát sinh từ hay trong bất kỳ cách nào có liên quan đến việc sử dụng bất kỳ đường kết nối tới trang web bên ngoài nào mà trang Web chúng tôi cung cấp.</p>
                            <p>Fun88 sẽ không trong bất kỳ trường hợp nào, được xem xét có liên quan hay liên kết với bất kỳ tuyên bố, ý kiến, giao dịch hay ghi chú dịch vụ, lô gô, huy hiệu hay các thiết bị nào hiển thị bên ngoài trang web, hay bất kỳ sản phẩm, dịch vụ được đưa ra quảng cáo, được bán, hoặc các tổng đài, hay chủ của các trang web ngoài hay bất kỳ người nào có mối liên hệ với các website ngoài cho dưới bất kỳ hình thức nào.</p>
                            <p>&nbsp;</p>
                                 <h3 class="sub-title with-opacity text-uppercase">16. Kết Nối Tới Trang Web/Khung Trang Web </h3>
                            <p>quý khách không được kết nối hay tạo ra bất kỳ kết nối sâu hay kết nối trong dòng nào tới bất kỳ bộ phận nào của trang Web, Dịch vụ và khung Thông tin.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">17. Bổ Sung hay Gián Đoạn Các Trò Chơi </h3>
                            <p>Chúng tôi có quyền, không cần phải chịu trách nhiệm với bất kỳ bên nào, toàn quyền quyết định mà không cần phải báo với quý khách, bổ sung thêm trò chơi mới hay các chức năng mới cho trang web, hay bắt đầu, chấm dứt, làm gián đoạn, hạn chế việc truy cập vào hay sửa đổi bất kỳ một trò chơi hay chức năng nào ở bất kỳ thời điểm nào.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">18. Vi Phạm Các Điều Kiện và Điều Khoản </h3>
                            <p>Fun88 có quyền tìm kiếm tất cả các biện pháp bào chữa theo luật và trong luật công lý về bất kỳ sự vii phạm nào đối với các Điều kiện và Điều khoản này, bao gồm quyền từ chối hay hạn chế việc truy cập Dịch vụ, trang Web và Thông tin cho một người cụ thể nào đó, hoặc ngăn chặn việc truy cập từ một địa chỉ internet cụ thể thay thông qua bất kỳ Thiết bị nào tới các Dịch vụ, trang Web và thông tin,và ở bất kỳ thời điểm nào, và chúng tôi toàn quyền quyết định mà không cần phải đưa ra bất kỳ lời giải thích nào.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">19. Quyền Ưu Tiên </h3>
                            <p>Luật cá cược nhà cái, ở những chỗ có thể áp dụng được, và bất kỳ một Điều kiện hay Điều khoản nào khác chi phối việc sử dụng và truy cập các Dịch vụ, Phần mềm, Thông tin và trang Web sẽ cấu thành một bộ phận không thể tách rời của những Điều kiện và Điều khoản này.</p>
                            <p>Khi có mâu thuẩn giữa các Điều khoản của Luật Cá Cược Nhà Cái và bất kỳ Điều kiện hay Điều khoản nào khác chi phối việc sử dụng và truy cập vào các Dịch vụ, Phần mềm, Thông tin và trang Web và những Điều kiện và Điều khoản này, trừ khi được thể hiện rõ, nếu không thì những Điều kiện và Điều khoản này sẽ chiếm ưu thế.</p>
                            <p>Trong trường hợp có sự khác nhau giữa các phiên bản tiếng Anh của phần Điều Khoản và Điều Kiện và các phiên bản khác, bản tiếng Anh sẽ có giá trị và các quyền và nghĩa vụ dưới mục Điều Khoản và Điều Kiện và Các Luật Nhà Cái được tham khảo cho bản tiếng Anh</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">20. Điều Kiện Bất Khả Kháng </h3>
                            <p>Nếu Fun88 không thực hiện được hay chậm trễ trong việc thực hiện nghĩa vụ những Điều kiện và Điều khoản này do các sự kiện xảy ra vượt ngoài tầm kiểm soát của Fun88, bao gồm nhưng không giới hạn ở: ý Chúa, thay đổi luật và các quy định hiện hành, hoạt động và sự trì trệ của cơ quan chính phủ, dân sự và quân sự, mệnh lệnh của tòa án, hành động khủng bố, sấm chớp hay hỏa hoạn, đình công, việc đóng cửa gây áp lực hay các chanh chấp lao động khác, lũ lụt, hạn hán, chiến tranh, nổi loạn, trộm cắp, hỏng đường truyền hay hệ thống, dịch vụ băng truyền rộng và viễn thông bị hỏng hay bị gián đoạn, mất điện hoặc thiếu điện, thời tiết khắc nghiệt, động đất và các thảm họa thiên nhiên, những hành động không thực hiện được hay bị trì hoãn đó không cấu thành sự vi phạm những Điều kiện và Điều khoản này. quý khách phải đồng ý có những hành đồng cần thiết để giảm thiểu tối đa những hậu quả của các sự việc đó.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">21. Từ Bỏ </h3>
                            <p>Việc Fun88 không thực hiện được bất kỳ Điều khoản nào trên đây ở bất kỳ thời gian nào sẽ không được hiểu hoặc coi là sự từ bỏ các quyền của Fun88 dưới đây hay dưới bất cứ hình thức nào ảnh hưởng đến hiệu lực của toàn bộ hay một phần của những Điều kiện và Điều khoản này, hoặc gây tổn hại tới các quyền sau này của Fun88.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">22. Cắt đứt/ Chia Rẽ </h3>
                            <p>Trong trường hợp bất kỳ hoặc bất kỳ phần nào của các Điều khoản, Điều kiện và quy định được xác định bởi một cơ quan có thẩm quyền là không hợp lệ, trái pháp luật hoặc không thể thực thi với bất kỳ mức độ, thì những Điều khoản và Điều kiện đó sẽ bị cắt bỏ . Những Điều khoản và Điều kiện còn lại sẽ tiếp tục có giá trị và được thi hành đến mức tối đa cho phép của pháp luật.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">23. Luật Và Việc Áp Dụng Các Đạo Luật </h3>
                            <p>quý khách đồng ý rằng việc truy cập và sử dụng của quý khách đối với các Dịch vụ, trang web, Phần mềm Thông tin và việc thực hiện những Điều kiện và Điều khoản này sẽ bị chi phối và hiểu theo luật pháp của ISLE OF MAN.</p>
                            <p>Nếu do quý khách khởi xướng, sẽ được đề cập và cuối cùng là giải quyết bởi sự phân xử của Tòa án ISLE OF MAN phù hợp với các quy định của Tòa án ISLE OF MAN trong thời gian có hiệu lực các quy đinh nào được coi là hợp nhất khi tham chiếu tới Điều khoản này. Ngôn ngữ phán xử của Tòa án sẽ là tiếng Anh.</p>
                            <p>Nếu do Fun88 khởi xướng, sẽ là tùy theo lựa chọn của Fun88:</p>
                            <p>hoặc được đề cập và cuối cùng được Fun88 xác nhận</p>
                            <p>Trước khi Tòa án ISLE OF MAN nơi mà quý khách đồng ý đệ trình, miễn là việc đệ trình đó không ảnh hưởng tới quyền được thực hiện cách hành đồng hợp pháp của Fun88 hay ảnh hưởng tới các vụ kiện bằng những đạo luật khác.</p>
                            <p>&nbsp;</p>
                            <h3 class="sub-title with-opacity text-uppercase">24. Trách Nhiệm Đánh Bạc </h3>
                            <p>FUN88 sẽ cung cấp một chức năng cho phép một thành viên tự loại mình ra khỏi tài khoản của họ trong vòng 7 hoặc 90 ngày. Khi sự thay đổi này được áp dụng cho một tài khoản trong một quãng thời gian, tài khoản sẽ không được mở trở lại cho bất kỳ lý do nào cho tới khi quãng thời gian hết hạn. Trong thời gian này, chúng tôi sẽ làm tất cả để ngăn chặn các tải khoản mới được mở ra. Nếu quý khách muốn dùng chức năng này hoặc muốn biết thêm thông tin, vui lòng liên hệ chúng tôi tại&nbsp;cs.viet@fun88.com&nbsp;. Các thành viên cũng có thể yêu cầu tài khoản của họ tạm thời đóng. FUN88 sẽ gửi email mà thành viên đã đăng kí đến cs.viet@fun88.com.</p>
                            <p>&nbsp;</p>
                        </div>

                    </div>
                    <div id="privacy">
                        <h2 class="text-uppercase big-title">
                            CHÍNH SÁCH BẢO MẬT
                        </h2>
                        <div>
                            <p>
                                Chúng tôi luôn  nhận biết  và tôn trọng quyền riêng tư của quý khách. Bảo đảm an toàn dữ liệu của quý khách là ưu tiên hàng đầu của chúng tôi.
                            </p>
                            <p>
                                Chúng tôi giữ gìn tất cả dữ liệu cá nhân của quý khách và sẽ không tiết lộ thông tin này cho bất cứ bên thứ ba nào trừ khi được yêu cầu làm như vậy bởi cơ quan luật pháp và các quy định hiện hành hoặc lệnh của tòa án, ngoại trừ trường hợp chúng tôi bảo lưu quyền tiết lộ và chuyển thông tin cá nhân của quý khách cho các nhà cung cấp dịch vụ thanh toán uy tín của chúng tôi và các cơ quan tài chính trong phạm vi cần thiết để hoàn thành việc thanh toán dịch vụ được cung cấp tại trang web của chúng tôi.
                            </p>
                            <p>Tất cả thông tin cá nhân cung cấp bởi những người sử dụng được chuyển bằng phần mềm Ổ Bảo mật (theo tiêu chuẩn bảo mật SSL 128 bit) và được lưu giữ trong môi trường hoạt động an toàn và không ai có thể xâm nhập vào được. Sự truy nhập nội bộ vào dữ liệu được giới hạn và kiểm soát nghiêm ngặt.</p>
                            <p>
                                Fun88.com và đối tác của chúng tôi có thể liên lạc với quý khách qua email về những chương trình có lợi cho quý khách. Chính sách của Fun88.com là không chia sẻ bất cứ tư liệu nhận dạng cá nhân nào được lưu giữ tại Fun88.com với bất cứ bên thứ ba nào.
                            </p>
                        </div>

                    </div>
                    <div id="claims">
                        <div class="text-uppercase big-title">
                            Tuyên Bố Trách Nhiệm
                        </div>
                        <div>
                            <p>
                                FUN88 không chấp nhận trách nhiệm về nội dung hoặc tính chính xác của các trang web bên ngoài.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane p+ card fix-content" id="help">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#about" class="list-group-item active" data-scroll="about">Chung</a>
                        <a href="#contact" class="list-group-item" data-scroll="contact">Thông tin tài khoản</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Thông tin ngân hàng</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Thông tin cược di động</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Trang giải thưởng</a>
                        <img src="~/Content/images/Casino_0001_help.png" class="width-full" />
                    </div>

                </div>
                <div class="test col-md-9 ">
                    <div class="">

                        <h2 class="text-uppercase big-title">
                            GIÚP ĐỠ/CÂU HỎI THƯỜNG GẶP
                        </h2>
                        <div class="content" style="color: rgb(70, 70, 70);">
                            <ul class="list-unstyled">
                                <li>
                                    <h4 class="sub-title with-opacity text-uppercase"> Tôi có thể mở tài khoản với những loại tiền tệ nào?</h4>
                                    <div>
                                        <p>
                                            Bạn có thể mở tài khoản bằng:
                                        </p>
                                        <ul>
                                            <!--                        <li>Đồng đô la Mỹ (USD) </li>
                                        <li>Đồng EURO (EUR) </li>-->
                                            <li>Việt Nam Đồng(VND)</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="sub-title with-opacity text-uppercase">Làm thế nào để mở tài khoản với Fun88?</h4>
                                    <div>
                                        <p>
                                            Mở tài khoản tại Fun88 rất đơn giản và nhanh chóng.
                                        </p>
                                        <p>
                                            <b>BƯỚC 1</b>
                                            <br>
                                            Trên trang chủ, nhấn chuột vào nút "Đăng Ký Ngay" ở góc tay phải của trang để vào phần đăng ký.
                                        </p>
                                        <p>
                                            <b>BƯỚC 2</b>
                                            <br>
                                            Bạn sẽ được yêu cầu đọc và chấp nhận các Điều kiện &amp; Điều khoản và Luật &amp; các Quy định của Fun88, xác nhận rằng bạn hơn 18 tuổi và nhập các thông tin liên lạc cá nhân theo yêu cầu.
                                        </p>
                                        <p>
                                            <b>BƯỚC 3</b><br>
                                            Khi bạn hoàn thành việc đăng ký, bạn có thể đăng nhập ngay, đặt cọc và bắt đầu đặt cược luôn.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <h4 class="sub-title with-opacity text-uppercase">Tôi có phải mất phí gửi tiền và rút tiền từ tài khoản Fun88?</h4>
                                    <p>
                                        Vì lợi ích của khách hàng , chúng tôi luôn cố gắng để các quý khách không bị tính phí ngân hàng. Chúng tôi sẽ không tính phí khi quý khách gửi tiền hoặc rút tiền từ tài khoản Fun88 – trừ phi chúng tôi đặc biệt cảnh báo quý khách trước rằng, phương pháp cụ thể mà quý khách yêu cầu sẽ phải thanh toán một khoản phí vượt mức
                                    </p>
                                </li>

                                <li>
                                    <h4 class="sub-title with-opacity text-uppercase">Số tiền cược tối đa của Fun88 là bao nhiêu?</h4>
                                    <p>
                                        Mỗi môn thể thao và sản phẩm cược được quy định số tiền cược tối đa riêng và các con số này có thể tăng hoặc giảm phụ thuộc vào quy mô của vốn cược và thời gian mà cược được đặt. Bạn nên tham khảo số cược TỐI ĐA trên danh sách cược thu nhỏ hiển thị trong khung bên tay trái bằng cách nhấn chuột vào tỉ lệ cược khi bạn muốn đặt cược.
                                    </p>
                                </li>
                                <li>
                                    <h4 class="sub-title with-opacity text-uppercase">Số tiền cược tối thiểu của Fun88 là bao nhiêu?</h4>
                                    <div>
                                        <table id="tfhover" class="tftable" border="1">
                                            <tbody>
                                                <tr>
                                                    <th>Tiền tệ</th>
                                                    <th>Số tiền cược tối thiểu</th>
                                                </tr>
                                                <tr style="background: #ffffff">
                                                    <td>VND</td>
                                                    <td>10</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane p+ card fix-content" id="mobile">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#about" class="list-group-item active" data-scroll="about">Chung</a>
                        <a href="#contact" class="list-group-item" data-scroll="contact">Thông tin tài khoản</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Thông tin ngân hàng</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Cược thể thao</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Casino trực tuyến</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Trò chơi</a>
                        <img src="~/Content/images/Casino_0001_help.png" class="width-full" />
                    </div>

                </div>
                <div class="test col-md-9 ">
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane p+ card fix-content" id="how-to-play">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#about" class="list-group-item active" data-scroll="about">Chung</a>
                        <a href="#contact" class="list-group-item" data-scroll="contact">Thông tin tài khoản</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Thông tin ngân hàng</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Cược thể thao</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Casino trực tuyến</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Trò chơi</a>
                        <img src="~/Content/images/Casino_0001_help.png" class="width-full" />
                    </div>

                </div>
                <div class="test col-md-9 ">
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane p+ card fix-content" id="agency">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#about" class="list-group-item active" data-scroll="about">Chung</a>
                        <a href="#contact" class="list-group-item" data-scroll="contact">Thông tin tài khoản</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Thông tin ngân hàng</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Cược thể thao</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Casino trực tuyến</a>
                        <a href="#career" class="list-group-item" data-scroll="career">Trò chơi</a>
                        <img src="~/Content/images/Casino_0001_help.png" class="width-full" />
                    </div>

                </div>
                <div class="test col-md-9 ">
                </div>
            </div>
        </div>
    </div>
</div>
